<script id="CartTemplate" type="text/template">
{% raw %}
    <div class="ajaxcart__scroller">
        <div class="ajaxcart__products">
            {{#items}}
            <div class="ajaxcart__product">
                <div class="ajaxcart__row" data-line="{{line}}">

                    <div class="ajaxcart__product-top">
                        <div class="o-layout o-layout--small u-flex u-flex--middle">
                            <div class="o-layout__item u-1/3 u-1/5@tab">
                                <a href="{{url}}" class="ajaxcart__product-image">
                                    <div class="o-ratio o-ratio--bg-product">

                                        {{#if img}}
                                            <img src="{{img}}" class="o-ratio__content" alt="{{ name }}">
                                        {{else}}
                                            <img src="{% endraw %}{{ 'placeholder.png' | asset_img_url: '240x' }}{% raw %}" class="o-ratio__content" alt="{{ name }}">
                                        {{/if}}

                                        <div class="theme-spinner">
                                            <div class="theme-spinner__border"></div>
                                            <div class="theme-spinner__border"></div>
                                            <div class="theme-spinner__border"></div>
                                            <div class="theme-spinner__border"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="o-layout__item u-2/3 u-4/5@tab">
                                <a href="{{url}}"><h4 class="ajaxcart__product-name f-family--body">{{name}}</h4></a>
                                {{#if variation}}
                                    <p class="ajaxcart__product-meta">{{variation}}</p>
                                {{/if}}
                                {{#properties}}
                                    {{#each this}}
                                        {{#if this}}
                                            {{#iffirstnoteq @key "_"}}
                                                <p class="ajaxcart__product-meta">{{@key}}: {{this}}</p>
                                            {{/iffirstnoteq}}
                                        {{/if}}
                                    {{/each}}
                                {{/properties}}

                                {{#if sellingPlan}}
                                    <p class="ajaxcart__product-meta">{{ sellingPlan }}</p>
                                {{/if}}

                                {% endraw %}{% if settings.cart_vendor_enable %}{% raw %}
                                    <p class="ajaxcart__product-meta">{{ vendor }}</p>
                                {% endraw %}{% endif %}{% raw %}
                            </div>
                        </div>
                    </div>

                    <div class="o-layout o-layout--small u-flex u-flex--middle">
                        <div class="o-layout__item u-1/2 u-flex u-flex--middle">
                            <div class="ajaxcart__qty">
                                <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                                    <span aria-hidden="true">&minus;</span>
                                    <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
                                </button>
                                <input type="number" name="updates[]" class="ajaxcart__qty-num js-qty-input" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*" autocomplete="off">
                                <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">
                                    <span aria-hidden="true">+</span>
                                    <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
                                </button>
                            </div>
                            <div class="ajaxcart__remove-wrapper">
                                <button class="ajaxcart__remove" type="button" data-id="{{key}}" data-line="{{line}}" data-qty="0">{% endraw %}{% render 'icons', icon: 'icon-delete-bin', icon-color: settings.color_text %}{% raw %}<span class="u-hidden-visually">{% endraw%}{{ 'cart.general.remove' | t }}{% raw%}</span></button>
                            </div>
                        </div>

                        <div class="o-layout__item u-1/2">
                            {{#if lineDiscount}}

                                <div class="ajaxcart-item__price ajaxcart-item__price--original"><s><span class="money">{{{originalLinePrice}}}</span></s></div>

                                <div class="ajaxcart-item__discount">
                                    {{#each lineDiscounts}}
                                        <span class="ajaxcart-item__discount-icon">
                                            <svg class="icon icon--label" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M23.03,14.545a.552.552,0,0,1-.249,1l-5.544,1.692L15.544,22.78a.551.551,0,0,1-1,.249L1.452,9.938A2.789,2.789,0,0,1,.744,8.231L.738,1.737a1,1,0,0,1,1-1H8.229a2.782,2.782,0,0,1,1.707.707Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><circle cx="5.737" cy="5.737" r="2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></circle></svg>
                                        </span>
                                        <p class="ajaxcart-item__discount-text">
                                            {{ this.discount_application.title }} (-<span class="money">{{{ this.amount }}}</span>)
                                        </p>
                                    {{/each}}
                                </div>

                                <div class="ajaxcart-item__price ajaxcart-item__price--sale"><span class="money">{{{lineDiscountedPrice}}}</span></div>

                            {{else}}
                                <div class="ajaxcart-item__price"><span class="money">{{{linePrice}}}</span></div>
                            {{/if}}

                            {{#if unitPriceExists}}
                                <div class="ajaxcart-item__price ajaxcart-item__price--unit">{{{ unitPrice }}}<span aria-hidden="true">/</span><span class="u-hidden-visually">{% endraw %}{{ 'products.general.unit_price_separator' | t }}{% raw %}&nbsp;</span>{{#ifnoteq unitReferenceValue "1"}}{{{ unitReferenceValue }}}{{/ifnoteq}}{{{ unitReferenceUnit }}}</div>
                            {{/if}}

                        </div>

                    </div>

                </div>
            </div>
            {{/items}}
        </div>
    </div>

    <div class="ajaxcart__footer">

        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
        <accordion-group>
            <details id="dynamic-cart-drawer-note" class="ajaxcart__message">
                <summary class="ajaxcart__message-title">
                    <label for="CartSpecialInstructions" class="ajaxcart__message-label" style="margin-bottom: 0">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
                    <summary-icon class="ajaxcart__message-title-icon icon-fallback">
                        <i class="icon icon--down" aria-hidden="true"></i>
                    </summary-icon>
                </summary>
                <details-content id="ajaxcart-message" class="ajaxcart__message-content">
                    <textarea name="note" class="ajaxcart__message-input" id="CartSpecialInstructions">{{ note }}</textarea>
                </details-content>
            </details>
        </accordion-group>
        {% endraw %}{% endif %}{% raw %}

        {{#if cartDiscounts}}
            {{#each cartDiscounts}}
                <div class="ajaxcart__footer-discount">
                    <span class="ajaxcart__footer-discount-icon">
                        <svg class="icon icon--label" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M23.03,14.545a.552.552,0,0,1-.249,1l-5.544,1.692L15.544,22.78a.551.551,0,0,1-1,.249L1.452,9.938A2.789,2.789,0,0,1,.744,8.231L.738,1.737a1,1,0,0,1,1-1H8.229a2.782,2.782,0,0,1,1.707.707Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><circle cx="5.737" cy="5.737" r="2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></circle></svg>
                    </span>
                    <p class="ajaxcart__footer-discount-text">{{ this.title }} (-<span class="money">{{ this.total_allocated_amount }}</span>)</p></div>
            {{/each}}
        {{/if}}

        <div class="o-layout o-layout--tiny o-layout--reverse">
            <div class="o-layout__item u-1/1 u-1/3@tab">
                <p class="ajaxcart__footer-total">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %} <span class="money">{{{totalPrice}}}</span></p>
            </div>
            <div class="o-layout__item u-1/1 u-2/3@tab">
                <p class="ajaxcart__footer-message">{% endraw %}{%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- elsif cart.taxes_included -%}
                    {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
                {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                {%- else -%}
                    {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
                {%- endif -%}{% raw %}</p>
            </div>
        </div>

        <div class="ajaxcart__button">
            <button type="submit" class="c-btn c-btn--full c-btn--primary ajaxcart__checkout{% endraw %}{% if settings.cart_terms %}{% raw %} js-cart-checkout-validate{% endraw %}{% endif %}{% raw %}" name="checkout">{% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}</button>
        </div>

        {% endraw %}{% if settings.cart_terms %}{% raw %}
            <div class="ajaxcart__footer-terms">
                <span class="ajaxcart__footer-terms__error js-cart-terms-error">{% endraw %}{{ 'cart.general.cart_error' | t }}{% raw %}</span>
                <input type="checkbox" class="ajaxcart__footer-terms__input js-cart-terms-input" id="ajaxcart-agree">
                <label for="ajaxcart-agree" class="ajaxcart__footer-terms__label rte">
                    {% endraw %}{{ settings.cart_terms_text }}{% raw %}
                </label>
            </div>
        {% endraw %}{% endif %}{% raw %}

    </div>
{% endraw %}
</script>

<script id="NotificationTemplate" type="text/template">
{% raw %}
    <div class="ajaxcart__inner">

        <div class="o-layout o-layout--tiny u-flex u-flex--middle">

            <div class="o-layout__item u-1/1 u-3/5@mob">
                <div class="ajaxcart__product">

                    <div class="o-layout o-layout--small u-flex u-flex--middle">

                        <div class="o-layout__item u-1/3">
                            <div class="ajaxcart__product-image-wrapper">
                                <div class="ajaxcart__product-image">
                                    <div class="o-ratio o-ratio--bg-product">

                                        {{#if thisItem.img}}
                                            <img src="{{ thisItem.img }}" class="o-ratio__content" alt="{{ thisItem.name }}">
                                        {{else}}
                                            <img src="{% endraw %}{{ 'placeholder.png' | asset_img_url: '240x' }}{% raw %}" class="o-ratio__content" alt="{{ thisItem.name }}">
                                        {{/if}}

                                        <div class="theme-spinner theme-spinner--small theme-spinner--color-text">
                                            <div class="theme-spinner__border"></div>
                                            <div class="theme-spinner__border"></div>
                                            <div class="theme-spinner__border"></div>
                                            <div class="theme-spinner__border"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="o-layout__item u-2/3">
                            <p class="ajaxcart__product-name f-family--body">{{ thisItem.name }}</p>
                            <p class="ajaxcart__product-meta">{{ thisItem.variation }}</p>
                            <p class="ajaxcart__product-meta">{{ thisItem.sellingPlan }}</p>
                            <p class="ajaxcart__product-meta">{{ thisItem.price }}</p>
                            {{#if thisItem.unitPriceExists}}
                                <div class="ajaxcart__product-meta ajaxcart-item__price--unit">{{{ thisItem.unitPrice }}}<span aria-hidden="true">/</span><span class="u-hidden-visually">{% endraw %}{{ 'products.general.unit_price_separator' | t }}{% raw %}&nbsp;</span>{{#ifnoteq thisItem.unitReferenceValue "1"}}{{{ thisItem.unitReferenceValue }}}{{/ifnoteq}}{{{ thisItem.unitReferenceUnit }}}</div>
                            {{/if}}
                        </div>

                    </div>

                </div>
            </div>

            <div class="o-layout__item u-1/1 u-2/5@mob">
                <a href="{% endraw %}{{ routes.cart_url }}{% raw %}" class="c-btn c-btn--small c-btn--full c-btn--primary ajaxcart__checkout" name="checkout">{% endraw %}{{ 'cart.general.view_cart' | t }}{% raw %}</a>
                <a href="{% endraw %}{% if settings.cart_continue_link %}{{ settings.cart_continue_link }}{% else %}{{ routes.root_url }}{% endif %}{% raw %}" class="c-btn c-btn--small c-btn--full c-btn--hollow {% endraw %}{% unless settings.cart_continue_link %}js-close-mfp{% endunless %}{% raw %} ajaxcart__continue">{% endraw %}{{ 'cart.general.continue_shopping' | t }}{% raw %}</a>
            </div>

        </div>

    </div>
{% endraw %}
</script>

<script id="AjaxQty" type="text/template">
    {% raw %}
    <div class="ajaxcart__qty">
        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{key}}" data-qty="{{itemMinus}}">
            <span aria-hidden="true">&minus;</span>
            <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
        </button>
        <input type="number" class="ajaxcart__qty-num js-qty-input" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" autocomplete="off">
        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{key}}" data-qty="{{itemAdd}}">
            <span aria-hidden="true">+</span>
            <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
        </button>
    </div>
{% endraw %}
</script>

<script id="JsQty" type="text/template">
{% raw %}
    <div class="js-qty">
        <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
            <span aria-hidden="true">&minus;</span>
            <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
        </button>
        <input type="number" class="js-qty__num js-qty-input" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" name="{{inputName}}" autocomplete="off" {{#if formId}}form="{{ formId }}"{{/if}}>
        <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{key}}" data-qty="{{itemAdd}}">
            <span aria-hidden="true">+</span>
            <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
        </button>
    </div>
{% endraw %}
</script>
