<!-- snippet/product-price.liquid -->

{% comment %}
    Renders the product price

    Accepts:
    - product: {Object} Product Liquid object
    - section_id: {String} Unique section id
    - id: {String} Unique price element id
    - from_price: {Boolean} Determines whether or not to output a generalised or specific price.
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
    - show_price_notes: {Boolean} Renders prie notes. Default: true
    - show_tax_note: {Boolean} Rebders tax notice. Default: false,
    - show_label: {Boolean} Renders on sale label
    - label_type: {String}
    - label_color: {String}

    Usage:
    {% render 'product-price',
        product: product,
        from_price: true
    %}

    !!! NOTE: When changing this element, update the HTML in
    VariantSelects.renderProductInfo()
{% endcomment %}

{%- liquid
    if show_price_notes == nil
        assign show_price_notes = true
    endif

    if show_tax_note == nil
        assign show_tax_note = false
    endif

    if show_label == nil
        assign show_label = false
    endif
-%}

{% if from_price %}

    {%- liquid
        if product.title
            assign compare_at_price = product.compare_at_price
            assign price = product.price
            assign price_max = product.price_max
            assign price_varies = product.price_varies
            assign available = product.available
        else
            assign compare_at_price = 1999
            assign price = 1999
            assign price_varies = false
            assign available = true
        endif

        assign money_price = price | money
        assign money_price_max = price_max | money
    -%}

    <span id="{{ id }}" class="price">
        {%- if compare_at_price > price -%}
            <span class="price__number{% unless price_varies %} price__number--sale{% endunless %}">
                {% if price_varies %}{{ 'products.general.from_price' | t }} {% endif %}
                <span class="money">{{ money_price }}</span>
            </span>
            {%- unless price_varies -%}
                <strike class="price__compare"><span class="money">{{ compare_at_price | money }}</span></strike>
            {%- endunless -%}
        {%- else -%}
            <span class="price__number">{% if price_varies %}{{ 'products.general.from_price' | t }} {% endif %}<span class="money">{{ money_price }}</span></span>
        {%- endif -%}
    </span>

{% else %}
    {%- liquid
        if use_variant
            assign variant = product.selected_or_first_available_variant
            assign compare_at_price = variant.compare_at_price
            assign price = variant.price

            assign unit_price = variant.unit_price
        else
            assign compare_at_price = product.compare_at_price_max
            assign price = product.price

            assign unit_price = product.selected_or_first_available_variant.unit_price
        endif
    -%}

    <div class="price">
        <div id="{{ id }}" class="price__text">
            <span class="u-hidden-visually">{{ 'products.general.regular_price' | t }}</span>
            <span class="price__number{% if compare_at_price > price %} price__number--sale{% endif %}">
                <span class="money">{{ price | money }}</span>
            </span>
            {%- if compare_at_price > price -%}
                <span class="u-hidden-visually">{{ 'products.general.sale_price' | t }}</span>
                <s class="price__compare"><span class="money">{{ compare_at_price | money }}</span></s>
            {%- endif -%}
        </div>

        {%- if show_label -%}
            {%- liquid
                assign label_id = 'label-' | append: section_id
            -%}
            {% render 'product-label',
                product: product,
                id: label_id,
                color: label_color,
                type: label_type
            %}
        {%- endif -%}

    </div>

    {%- if show_price_notes or show_tax_notice -%}
        <div class="price__notes">
                <p id="unit-{{ id }}" class="price__note price__note--unit">
                    {%- if unit_price -%}
                    {% render 'product-unit-price', product: product, variant: product.selected_or_first_available_variant %}
                    {%- endif -%}
                </p>
            {%- if show_tax_notice == true -%}
                {%- if cart.taxes_included -%}
                    <p class="price__note price__note--tax">
                        {{ 'products.general.include_taxes' | t }}
                    </p>
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                    <p class="price__note price__note--tax">
                        {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    </p>
                {%- endif -%}
            {%- endif -%}

        </div>
    {%- endif -%}

{% endif %}
