{% comment %}
    Renders variant swatches

    Accepts:
    - product: {Object} Product
    - section_id: {String} Section id
    - card_id: {String} Id to use if the form is used inside a card, not section (optional)
    - component_type: {String} Component type: grid / form
    - style: {String} Swatches / buttons / selects
    - product_form_id: {String} Product form id (optional)
    - update_url: {Boolean} Allow variant picker to update url. Default: false
    - local_render: {Boolean} Update product information without hitting the servers. Default: false
    - popup_enable: {Boolean}
    - popup_trigger: {String}
    - popup_label: {String}
    - popup_content: {Object}

    Usage:
    {% render 'product-options',
        product: product,
        section_id: 'template--12345689-main',
        component_type: 'form',
        style: block.settings.product_variant_style,
        product_form_id: 'product-form-template--123456789-main'
    %}
{% endcomment %}

{% comment %} Process global swatches settings {% endcomment %}
{%- liquid
  if settings.swatches_trigger != blank and settings.swatches_enabled
    assign swatches_enabled = true
    assign triggers_raw = settings.swatches_trigger | newline_to_br | strip_newlines | split: '<br />'
    assign triggers = '' | split: ','
    for trigger in triggers_raw
      assign t = trigger | strip | downcase | split: ','
      assign triggers = triggers | concat: t
    endfor

    comment
      Process colors
    endcomment
    assign variant_colors_raw = settings.swatches_colors_override | newline_to_br | strip_newlines | split: '<br />'
    assign variant_color_names = '' | split: ','
    assign variant_colors = '' | split: ','
    for variant_color_raw in variant_colors_raw
      assign variant_color = variant_color_raw | split: ':' | last | strip
      if variant_color != ''
        assign variant_color = variant_color | split: ':'
        assign variant_colors = variant_colors | concat: variant_color
        assign variant_color_name = variant_color_raw | split: ':' | first | strip | downcase | split: ':'
        assign variant_color_names = variant_color_names | concat: variant_color_name
      endif
    endfor

    comment
      Process images
    endcomment
    assign variant_images_raw = settings.swatches_images_override | newline_to_br | strip_newlines | split: '<br />'
    assign variant_image_names = '' | split: ','
    assign variant_images = '' | split: ','
    for variant_image_raw in variant_images_raw
      assign variant_image = variant_image_raw | split: ':' | last | strip
      if variant_image != ''
        assign variant_image = variant_image | split: ':'
        assign variant_images = variant_images | concat: variant_image
        assign variant_image_name = variant_image_raw | split: ':' | first | strip | downcase | split: ':'
        assign variant_image_names = variant_image_names | concat: variant_image_name
      endif
    endfor

    assign variant_names = variant_color_names | concat: variant_image_names
  endif
-%}

{% comment %}Grid - swatch{% endcomment %}

{%- if component_type == 'grid' and swatches_enabled -%}

  {%- liquid
    assign swatch_count = 0
    assign swatch_used = false
  -%}

  {% for option in product.options %}

    {%- liquid
      assign option_name = option | strip | downcase
      assign option_index = forloop.index0
    -%}

      {% if triggers contains option_name and swatch_used == false %}
      {%- assign swatch_used = true -%}

      <div class="swatch-wrapper">

          <product-card-swatches class="product-card__swatch">
              <ul class="product-card__swatch__items o-list-inline">

                  {% assign values = '' %}
                  {% for variant in product.variants %}
                      {% assign value = variant.options[option_index] %}
                      {% capture wrapped_value %},{{ value }},{% endcapture %}

                      {% unless values contains wrapped_value %}

              {%- liquid
                if variant.image
                  assign variant_img = variant.image.src | image_url: width: 1 | replace: 'width=1', 'width={width}'
                  assign variant_image_width = variant.image.width
                  assign variant_image_height = variant.image.height
                else
                    assign variant_img = product.featured_image.src | image_url: width: 1 | replace: 'width=1', 'width={width}'
                    assign variant_image_width = product.featured_image.width
                    assign variant_image_height = product.featured_image.height
                endif

                assign v = value | strip | downcase
                assign is_white = false
                assign graphic = ''
                assign graphic_is_image = false
                for variant_name in variant_names
                  if variant_name == v
                    if forloop.index0 < variant_color_names.size
                      assign graphic = variant_colors[forloop.index0]
                      assign graphic_is_image = false
                    else
                      assign index = forloop.index0 | minus: variant_color_names.size
                      assign graphic = variant_images[index]
                      assign graphic_is_image = true
                    endif
                    break
                  endif
                endfor

                if graphic == blank
                  assign graphic = value | downcase | replace: ' ', ''
                endif
                if graphic == 'white' or graphic == '#fff' or graphic == '#ffffff'
                  assign is_white = true
                endif

                assign swatch_count = swatch_count | plus: 1
              -%}

                        {% if swatch_count <= 5 %}
                          <li class="
                              product-card__swatch__item
                              product-card__swatch__item--{% if settings.use_square_swatch %}square{% else %}circle{% endif %}
                              product-card__swatch__item-space-{{ settings.product_grid_swatch_size }}
                              o-list-inline__item
                              js-product-swatch-item
                            "
                            data-variant-id="{{ variant.id }}"
                            data-variant-image="{{ variant_img }}"
                            data-variant-url="{{ variant.url }}"
                            data-variant-image-width="{{ variant_image_width }}"
                            data-variant-image-height="{{ variant_image_height }}"
                          >
                              <span class="product-card__swatch__graphic{% if settings.use_emphasized_borders %} product-card__swatch__graphic--emphasize{% endif %} product-card__swatch__graphic--{{ settings.product_grid_swatch_size }} {% if is_white %} product-card__swatch__graphic--white{% endif %}" style="--background-graphic: {% if graphic_is_image %}url({{ graphic | file_img_url: '68x' }}){% else %}{{ graphic }}{% endif %}"></span>
                              <span class="u-hidden-visually">{{ color_name }}</span>
                          </li>
                        {% endif %}

                          {% capture values %}{{ values }}{{ wrapped_value }}{% endcapture %}

                      {% endunless %}

                  {% endfor %}

              </ul>

              {% if swatch_count > 5 %}
                <div class="product-card__overflow">
                  <a href="{{ product.url | within: collection }}" class="product-card__overflow__item js-product-link" title="{{ product.title }}">
                      <span class="">+{{ swatch_count | minus: 5 }}</span>
                    </a>
                  </div>
            {% endif %}

          </product-card-swatches>

        </div>

      {% endif %}

  {% endfor %}

{% endif %}


{% comment %}Form - options{% endcomment %}

{% if component_type == 'form' %}

  {%- liquid
    if card_id
      assign unique_id = card_id
    else
      assign unique_id = section_id
    endif
  -%}

  {%- if style == 'swatches' or style == 'buttons' -%}

    <variant-radios class="js" data-section="{{ section_id }}" {% if card_id %}data-card="{{ card_id }}"{% endif %} data-url="{{ product.url }}" {% unless update_url %}data-update-url="false"{% endunless %} {% if local_render %}data-local-render="true"{% endif %}>
      <product-interactive-options>
        {%- for option in product.options_with_values -%}
          {%- liquid
            assign option_name = option.name | strip | downcase
          -%}

          {%- if popup_enable -%}
            {%- liquid
              assign popup_triggers_raw = popup_trigger | newline_to_br | strip_newlines | split: '<br />'
              assign popup_triggers = '' | split: ','
              for popup_trigger in popup_triggers_raw
                assign t = popup_trigger | strip | downcase | split: ','
                assign popup_triggers = popup_triggers | concat: t
              endfor
            -%}
            {% if popup_triggers contains option_name %}
              <div class="product-popup-draw js-product-popup-draw-{{ section_id }}-{{ option_name | handleize }} js-product-popup-draw mfp-hide">
                    <div class="product-popup-draw__wrapper">
                        <div class="product-popup__inner rte">
                            {{ pages[popup_content].content }}
                        </div>
                    </div>
                </div>
              <div class="product-form__popup product-form__popup--swatch">
                <a href="{{ popup_content.url }}" class="product-form__popup-link u-small js-product-popup-trigger" data-popup-id="{{ section_id }}-{{ option_name | handleize }}">{{ popup_label }}
                </a>
              </div>
            {%- endif -%}
          {% endif %}

          {%- if style == 'swatches' and swatches_enabled and triggers contains option_name -%}
            {%- render 'variant-swatches', form_id: product_form_id, option: option, section_id: unique_id -%}
          {%- else -%}
            <fieldset class="product-form__swatch">
              <legend class="product-form__swatch__title u-small">{{ option.name }}</legend>
              {%- for value in option.values -%}
                <div class="product-form__swatch__item product-form__swatch__item--button" data-value="{{ value | replace: "'", "-" | replace: '"', '-' }}" title="{{ value | escape }}">
                  <input type="radio" id="{{ unique_id }}-{{ option.position }}-{{ forloop.index0 }}"
                    name="{{ option.name }}"
                    value="{{ value | escape }}"
                    form="{{ product_form_id }}"
                    class="product-form__swatch__input u-hidden-visually"
                    aria-label="{{ value }} {{ option.name }}"
                    {% if option.selected_value == value %}checked{% endif %}
                  >
                  <label for="{{ unique_id }}-{{ option.position }}-{{ forloop.index0 }}" class="product-form__swatch__label">
                    {{ value }}
                  </label>
                </div>
              {%- endfor -%}
            </fieldset>
          {%- endif -%}
        {%- endfor -%}
      </product-interactive-options>

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- else -%}
    <variant-selects class="js" data-section="{{ section_id }}" {% if card_id %}data-card="{{ card_id }}"{% endif %} data-url="{{ product.url }}" {% unless update_url %}data-update-url="false"{% endunless %} {% if local_render %}data-local-render="true"{% endif %}>
      <product-interactive-options>
        {%- for option in product.options_with_values -%}
          {%- liquid
            assign option_name = option.name | strip | downcase
          -%}

          {%- if popup_enable -%}
            {%- liquid
              assign popup_triggers_raw = popup_trigger | newline_to_br | strip_newlines | split: '<br />'
              assign popup_triggers = '' | split: ','
              for popup_trigger in popup_triggers_raw
                assign t = popup_trigger | strip | downcase | split: ','
                assign popup_triggers = popup_triggers | concat: t
              endfor
            -%}
            {% if popup_triggers contains option_name %}
              <div class="product-popup-draw js-product-popup-draw-{{ section_id }}-{{ option_name | handleize }} js-product-popup-draw mfp-hide">
                    <div class="product-popup-draw__wrapper">
                        <div class="product-popup__inner rte">
                            {{ pages[popup_content].content }}
                        </div>
                    </div>
                </div>
              <div class="product-form__popup product-form__popup--dropdown">
                <a href="{{ popup_content.url }}" class="product-form__popup-link u-small js-product-popup-trigger" data-popup-id="{{ section_id }}-{{ option_name | handleize }}">{{ popup_label }}
                </a>
              </div>
            {%- endif -%}
          {% endif %}

          <div class="selector-wrapper">
            <label for="Option-{{ unique_id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <select id="Option-{{ unique_id }}-{{ forloop.index0 }}"
              class="single-option-selector"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {%- for value in option.values -%}
                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
                </option>
              {%- endfor -%}
            </select>
          </div>

        {%- endfor -%}
      </product-interactive-options>

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}

  <script src="{{ 'product-interactive-options.js' | asset_url }}" type="module"></script>

{% endif %}
