<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>{% render 'pagefly-head' %} 
{%- if shop.metafields.bis.email_custom_info -%}
    <script>{{shop.metafields.bis.email_custom_info}}</script>
{%- endif -%}
    <script src='{{ 'sealapps_email_config.js' | asset_url }}' defer='defer' ></script> 
    <script src='{{ 'product_restore_email.js' | asset_url }}' defer='defer' ></script> 
    <script id='em_product_variants' type='application/json'>
        {{ product.variants | json }}
    </script>
    <script id='em_product_selected_or_first_available_variant' type='application/json'>
        {{ product.selected_or_first_available_variant | json }}
    </script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">
	<meta name="theme-color" content="{{ settings.color_brand }}">

	{% render 'network' %}

	{%- if canonical_url != blank  -%}
  	<link rel="canonical" href="{{ canonical_url }}">
	{%- endif -%}

	{% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

	<!-- Title and description ================================================== -->
	<title>{% render 'seo-title' %}</title>

	{%- if page_description -%}
  	<meta name="description" content="{{ page_description | escape }}">
	{%- endif -%}

	{% render 'social-meta-tags' %}

	<!-- JS before CSSOM =================================================== -->
	<script type="text/javascript">
		theme = {};
		theme.t = {};
	  	theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
	    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
	    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';
	    theme.t.regular_price = '{{ 'products.general.regular_price' | t }}';
	    theme.t.sale_price = '{{ 'products.general.sale_price' | t }}';
	    theme.t.qty_notice_in_stock = '{{ 'products.product.qty_notice_in_stock' | t }}';
	    theme.t.qty_notice_low_stock = '{{ 'products.product.qty_notice_low_stock' | t }}';
	    theme.t.qty_notice_sold_out = '{{ 'products.product.qty_notice_sold_out' | t }}';
	    theme.t.qty_notice_number_in_stock_html = '{{ 'products.product.qty_notice_number_in_stock_html' | t: count: '[qty]' }}';
	    theme.t.qty_notice_number_low_stock_html = '{{ 'products.product.qty_notice_number_low_stock_html' | t: count: '[qty]' }}';
	    theme.t.discount_currency = '{{ 'products.product_labels.discount_currency' | t: discount_format_currency: '[discount]' }}';
	    theme.t.discount_percentage = '{{ 'products.product_labels.discount_percentage' | t: discount_format_percentage: '[discount]' }}';
	    theme.t.discount_text = '{{ 'products.product_labels.discount_text' | t }}';
	    theme.t.unit_price_label = '{{ 'products.general.unit_price_label' | t }}';
	    theme.t.unit_price_separator = '{{ 'products.general.unit_price_separator' | t }}';
	    theme.money_format = '{{ shop.money_format }}';
		theme.map = {};
		theme.map_settings_url="{{ 'map_settings.min.js' | asset_url }}";
		theme.cart_type = '{{ settings.cart_type }}';
		theme.cart_ajax = {% if settings.cart_type == 'modal' or settings.cart_type == 'notification' %}true{% else %}false{% endif %};
		theme.routes = {
			rootUrl: "{{ routes.root_url }}",
			rootUrlSlash: "{% if routes.root_url == '/' %}{{ routes.root_url }}{% else %}{{ routes.root_url }}/{% endif %}",
			cartUrl: "{{ routes.cart_url }}",
			cartAddUrl: "{{ routes.cart_add_url }}",
			cartChangeUrl: "{{ routes.cart_change_url }}"
		};
		theme.assets = {
			plyr: "{{ 'plyr.min.js' | asset_url }}",
			masonry: "{{ 'masonry.min.js' | asset_url }}",
			{% comment %} photoswipe: "{{ 'photoswipe.min.js' | asset_url }}", {% endcomment %}
			fecha: "{{ 'fecha.min.js' | asset_url }}"
		};
	</script>
	{% comment %} Device feature tests (Modernizr replacement) {% endcomment %}
	<style id="fontsupporttest">@font-face{font-family:"font";src:url("https://")}</style>
	<script type="text/javascript">
		function supportsFontFace() {
			function blacklist() {
				var match = /(WebKit|windows phone.+trident)\/(\d+)/i.exec(navigator.userAgent);
				return match && parseInt(match[2], 10) < (match[1] == 'WebKit' ? 533 : 6);
			}
			function hasFontFaceSrc() {
				var style = document.getElementById('fontsupporttest');
				var sheet = style.sheet || style.styleSheet;
				var cssText = sheet ? (sheet.cssRules && sheet.cssRules[0] ? sheet.cssRules[0].cssText : sheet.cssText || '') : '';
				return /src/i.test(cssText);
			}
			return !blacklist() && hasFontFaceSrc();
		}
		document.documentElement.classList.replace('no-js', 'js');
		if (window.matchMedia("(pointer: coarse)").matches) {document.documentElement.classList.add('touchevents')} else {document.documentElement.classList.add('no-touchevents')}
		if (supportsFontFace()) {document.documentElement.classList.add('fontface')}
	</script>
	<script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'ajax-cart.js' | asset_url }}" defer="defer"></script>

  <!-- CSS ================================================== -->
  {% render 'css-variables' %}
	{% render 'css-include' %}

	<!-- JS after CSSOM=================================================== -->
	<script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

	{% if request.design_mode %}
		<script id="editor-scripts" src="{{ 'editor.js' | asset_url }}" defer="defer"></script>

		<script src="{{ 'product-interactive-options.js' | asset_url }}" type="module"></script>
	{% endif %}

  {% if settings.anim_load %}
		<script src="{{ 'scrollreveal.min.js' | asset_url }}"></script>
	{% endif %}
	{% if template contains 'customers' %}
		<script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
	{% endif %}

	<!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% render 'shogun-head' %}
{% render 'gp-head' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-anim-load="{{ settings.anim_load }}" data-anim-interval-style="{{ settings.anim_interval_style }}" data-anim-zoom="{{ settings.anim_zoom }}" data-anim-interval="{% if settings.anim_load_style == 'interval' %}true{% else %}false{% endif %}" data-editor-mode="{% if request.design_mode %}true{% else %}false{% endif %}" data-quick-shop-show-cart="{{ settings.quick_shop_show_cart }}">
	<script type="text/javascript">
		//loading class for animations
		document.body.className += ' ' + 'js-theme-loading';
		setTimeout(function(){
			document.body.className = document.body.className.replace('js-theme-loading','js-theme-loaded');
		}, 300);
	</script>

	<a class="skip-to-content-link" href="#main">{{ "accessibility.skip_to_text" | t }}</a>

	<div class="page-transition"></div>

	<div class="page-container">
		{% section 'mobile-drawer' %}
		{% section 'announcement' %}
		{% section 'header' %}

		<div class="main" id="main">
			{{ content_for_layout }}
		</div>

		
		
		
		
		
	</div>

	{% if settings.search_enable %}

		{%- if settings.search_predictive_enable -%}
			<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
		{%- endif -%}

		<div class="search-draw js-search-draw search-draw--{{ settings.color_drawer_style }} mobile-draw mfp-hide">
			<div class="search__head">
	            <div class="search__label">
	                <h4 class="search__label-title">{{ 'general.search.label' | t }}</h4>
	            </div>
	        </div>

		    <div class="search-draw__wrapper">
		        <div class="search__inner">

	        		<predictive-search>
							  <form action="{{ routes.search_url }}" method="get" class="search__form" role="search">

							    <input
							    	id="Search"
							    	type="search"
							    	name="q"
							    	value=""
							    	class="search__form-input js-search-input"
							    	placeholder="{{ 'general.search.placeholder' | t }}"
							    	aria-label="{{ 'general.search.placeholder' | t }}"
							    	{%- if settings.search_predictive_enable -%}
								    	role="combobox"
								      aria-expanded="false"
								      aria-owns="predictive-search-results-list"
								      aria-controls="predictive-search-results-list"
								      aria-haspopup="listbox"
								      aria-autocomplete="list"
								      autocorrect="off"
								      autocomplete="off"
								      autocapitalize="off"
								      spellcheck="false"
								    {%- endif -%}
							    >

							    <input name="options[prefix]" type="hidden" value="last">
							    <input type="hidden" name="type" value="{{ settings.search_limit }}">

							    <button type="submit" class="search__form-submit" aria-label="{{ 'general.search.submit' | t }}">
	                		
	                </button>

							    {%- if settings.search_predictive_enable -%}
							    	<div id="predictive-search" tabindex="-1"></div>
							    {%- endif -%}

							  </form>
							</predictive-search>

							{%- if settings.search_predictive_enable -%}
								<div class="search-draw__loader u-flex u-flex--middle u-flex--center">
									<div class="theme-spinner theme-spinner--small">
	                  <div class="theme-spinner__border"></div>
	                  <div class="theme-spinner__border"></div>
	                  <div class="theme-spinner__border"></div>
	                  <div class="theme-spinner__border"></div>
	                </div>
								</div>
							{%- endif -%}

		          <div class="search__content">
		            {% assign search_nav = settings.search_linklist %}
		            {% if linklists[search_nav].links.size > 0 %}
		                <div class="search__nav">
		                    <h4 class="search__nav-title h5">{{ linklists[search_nav].title }}</h4>
		                    <ul class="search__nav-items o-list-bare">
		                        {% for link in linklists[search_nav].links %}
		                            <li class="search__nav-item">
		                                <a href="{{ link.url }}" class="search__nav-link">{{ link.title }}</a>
		                            </li>
		                        {% endfor %}
		                    </ul>
		                </div>
		            {% endif %}
		            {% if settings.search_collections.count > 1 %}
			            <div class="search__collections search__collections--{{ settings.search_collections_align }}">
			            	<h4 class="search__collections-title">{{ settings.search_collections_heading | escape }}</h4>
			            	<ul class="search__collections-items o-list-bare">
			            		{% for collection in settings.search_collections %}

								    {% if collection.image %}
								        {%- assign collection_image_url = collection.image -%}
								    {% elsif collection.products.first %}
								        {%- assign collection_image_url = collection.products.first.featured_image -%}
								    {% else %}
								    	{%- assign collection_image_url = false -%}
								    {% endif %}

				            		<li class="search__collections-item">
													<a href="{{ collection.url }}" class="search__collections-link">

														<div class="o-ratio o-ratio--{{ settings.search_collections_ratio }}"{% if collection_image_url == false and settings.search_collections_ratio == 'natural' %} style="padding-bottom:100%;"{% elsif collection_image_url and settings.search_collections_ratio == 'natural' %} style="padding-bottom:{{ 1 | divided_by: collection_image_url.aspect_ratio | times: 100 }}%;"{% endif %}>
									            			{% if collection_image_url %}
													            <img
													                class="search__collections-image o-ratio__content"
													                src="{{ collection_image_url | img_url: '360x' }}"
													                srcset=""
													                sizes="(min-width: 481px) calc((500px - 48px) / 2), calc(100vw - 60px))"
													                width="360"
													                height="{{ 360 | divided_by: collection_image_url.aspect_ratio | round }}"
													                alt="{{ collection_image_url.alt }}"
													                loading="lazy"
													            />
													        {% else %}
													            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
													            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg o-ratio__content' }}
													        {% endif %}
														</div>

												        <h4 class="search__collections-heading h5">{{ collection.title }}</h5>

												        {%- if settings.search_collections_count %}
												        	<p class="search__collections-count">{{ collection.all_products_count }} {{ 'collections.general.products_label' | t }}</p>
														{%- endif -%}

													</a>
				            		</li>

			            		{% endfor %}
			            	</ul>
			            </div>
		            {% endif %}
		            </div>
		        </div>
		    </div>
		</div>
	{% endif %}

	<div class="js-cart-draw mfp-hide{% if settings.cart_type == 'notification' %} ajaxcart-draw--notification{% else %} ajaxcart-draw ajaxcart-draw--{{ settings.color_drawer_style }} mobile-draw{% endif %}">
		<div class="ajaxcart-draw__wrapper js-cart-draw-inner">

			{% unless settings.cart_type == 'notification' %}
			<form action="{{ routes.cart_url }}" method="post" novalidate class="cart ajaxcart__form">
			{% endunless %}

				<div class="ajaxcart__head">
		            <div class="ajaxcart__label">
		            	{% if settings.cart_type == 'modal' %}
		                	<h4 class="ajaxcart__label-title">{{ 'cart.general.title' | t }}</h4>
		                {% endif %}
		                {% if settings.cart_type == 'notification' %}
		                	<h4 class="ajaxcart__label-title">{{ 'cart.general.added_to_cart' | t }}</h4>
		                {% endif %}
		            </div>
		        </div>

		        {% unless settings.cart_type == 'notification' %}
			        {% if settings.cart_announcement %}
				        <div class="ajaxcart__announcement">
				        	{% unless settings.cart_announcement_link == blank %}
				        	<a href="{{ settings.cart_announcement_link }}">
				        	{% endunless %}

			        			{% unless settings.cart_announcement_icon == "none" %}
					        		<div class="ajaxcart__announcement-icon">
			                            
					        		</div>
				        		{% endunless %}

			        			<p class="ajaxcart__announcement-text">{{ settings.cart_announcement_text | escape }}</p>

			        		{% unless settings.cart_announcement_link == blank %}
			        		</a>
			        		{% endunless %}
				        </div>
				    {% endif %}
			    {% endunless %}

		        {% unless settings.cart_type == 'notification' %}
		       		<div id="EmptyCart" class="ajaxcart__container" aria-hidden="true">
		       			<div class="ajaxcart-empty ajaxcart__scroller">
		       				{% capture cart_empty_image_width %}{{ settings.cart_empty_image_size | times: 2 }}x{% endcapture %}
		                    {% if settings.cart_empty_image != blank %}

		                    	{% if settings.cart_empty_image_link %}
		                    		<a href="{{ settings.cart_empty_image_link }}" class="ajaxcart-empty__image-link">
		                    	{% endif %}
		                        	<img src="{{ settings.cart_empty_image | img_url: cart_empty_image_width }}" alt="{{ settings.cart_empty_image.alt | escape }}" class="ajaxcart-empty__image u-1/1" style="max-width:{{ settings.cart_empty_image_size }}px">
		                        {% if settings.cart_empty_image_link %}
		                    		</a>
		                    	{% endif %}

		                    {% endif %}

		       				<p class="ajaxcart-empty__title">{{ 'cart.general.empty' | t }}</p>
		       				<a href="{% if settings.cart_empty_link %}{{ settings.cart_empty_link }}{% else %}{{ routes.root_url }}{% endif %}" class="c-btn c-btn--primary c-btn--wide">{{ 'cart.general.empty_link' | t }}</a>
		       			</div>
		       		</div>
	       		{% endunless %}

	       		<div id="CartContainer" class="ajaxcart__container"></div>

		    {% unless settings.cart_type == 'notification' %}
		    </div>
		    {% endunless %}

		</div>
	</div>

	

	<script>
		//cart functions
		theme.ajaxCartInit = function() {
			ajaxCart.init({
				{% unless template.name == 'cart' %}
				{% if settings.cart_type == 'modal' %}
				sourceId: '#CartTemplate',
				triggerSelector: '.js-cart-trigger',
				formSelector: '.js-product-form',
				addToCartSelector: '.js-product-add',
				{% endif %}
				{% if settings.cart_type == 'notification' %}
				sourceId: '#NotificationTemplate',
				triggerSelector: '.js-cart-icon',
				formSelector: '.js-product-form',
				addToCartSelector: '.js-product-add',
				{% endif %}
				{% endunless %}
				cartContainer: '#CartContainer',
				cartCountSelector: '.js-cart-count',
				cartCostSelector: '#CartCost',
				emptySelector: '#EmptyCart',
				moneyFormat: {{ shop.money_format | json }}
			});
		};
	</script>
	<!-- Creative theme by Safe As Milk - http://safeasmilk.co/ -->
	<!-- Theme version 2.0.0 -->
</body>
</html>
