{% assign number_of_comments = article.comments_count %}
{% if article.metafields.custom.author.value != blank %}
  {% assign author = article.metafields.custom.author.value %}
{% endif %}
{% if article.metafields.custom.reviewer.value != blank %}
  {% assign reviewer = article.metafields.custom.reviewer.value %}
{% endif %}
{{ 'custom-section-blog-post.css' | asset_url | stylesheet_tag }}
<div class="custom-article-container">
  <section class="section section--article article{% unless article.image and section.settings.show_img %} article--no-img{% endunless %}">
  
      {% if section.settings.show_img %}
          {% if article.image %}
              <div class="container container--mob-0">
                  <div class="article__featured-media" style="background-image: url('{{ article.image.src | img_url: '1x1' }}')">
                      <img
                          class="article__featured-media__img "
                          src="{{ article.image | img_url: '300x' }}"
                          srcset="{% render 'bgset', image: article.image %}"
                          sizes="(min-width: 981px) 50vw, 100vw"
                          width="300"
                          height="{{ 300 | divided_by: article.image.aspect_ratio | round }}"
                          alt="{{ article.image.alt }}"
                          loading="lazy"
                      />
                  </div>
              </div>
          {% endif %}
      {% endif %}
  
      <div class="container article__container">
          <div class="article__blocks">
              {%- for block in section.blocks -%}
                  {%- case block.type -%}
                  {%- when '@app' -%}
                      <div class="article__block article__block--{{ block.type }}" {{ block.shopify_attributes }}>
                        {% render block %}
                      </div>
  
                  {%- when 'title'-%}
                      <div class="article__block article__block--{{ block.type }}" {{ block.shopify_attributes }}>
                          <div class="article__title">
                              <div class="section__title section__title--center">
                                  <h1 class="section__title-text">{{ article.title }}</h1>
                              </div>
                          </div>
                      </div>
  
                  {%- when 'content'-%}
                      <div class="article__block article__block--{{ block.type }}" {{ block.shopify_attributes }}>
                          <div class="article__content rte" itemprop="articleBody">
                              {{ article.content }}
                          </div>
                      </div>
  
                  {%- when 'date'-%}
                      <div class="article__block article__block--{{ block.type }}" {{ block.shopify_attributes }}>
                          <div class="article__date">
                              <p class="article__date-text">{{ article.updated_at | date: "%b %d, %Y" }}</p>
                          </div>
                          <div>
                            <img src="{{ author.avatar | image_url: width: 300, height: 300 }}" width="" height="" style="border-radius: 50%" alt="{{ author.name }}" class="article-header-avatar">
                            <span itemprop="author">Author: <a href="#author-reviewer">{{ author.name }}</a></span>
                          </div>
                          {% if article.metafields.custom.reviewer.value != blank %}
                            <div>
                              <img src="{{ reviewer.avatar | image_url: width: 300, height: 300 }}" width="" height="" style="border-radius: 50%" alt="{{ reviewer.name }}" class="article-header-avatar">
                              <span>Reviewed by: <a href="#author-reviewer">{{ reviewer.name }}</a></span>
                            </div>
                          {% endif %}
                      </div>
  
                  {%- when 'tags'-%}
                      {% if article.tags.size > 0 %}
                          <div class="article__block article__block--{{ block.type }}" {{ block.shopify_attributes }}>
                              <div class="article__tags">
                                  <ul class="article__tags-items o-list-bare">
                                      {% for tag in article.tags %}
                                          <li class="article__tags-item">{{ tag | link_to_tag: tag }}{% unless forloop.last == true %} / {% endunless %}</li>
                                      {% endfor %}
                                  </ul>
                              </div>
                          </div>
                      {% endif %}
  
                  {%- when 'meta'-%}
                      <div class="article__block article__block--{{ block.type }}" {{ block.shopify_attributes }}>
                          <div class="article__meta">
                              <div class="article__meta-wrapper">
                                  {% if block.settings.show_author %}
                                      {% render 'author-reviewer-bottom', author: author, reviewer: reviewer %}
                                  {% endif %}
                                  {% if block.settings.show_sharing %}
                                      <div class="article__meta-share">
                                          {% capture share_link %}{{ shop.url }}{{ article.url }}{% endcapture %}
                                          {% capture share_title %}{{ article.title | url_param_escape }}{% endcapture %}
                                          {% capture share_img %}{{ article.image | img_url: '1024x1024' }}{% endcapture %}
                                          <ul class="article__share-items">
                                              {% if settings.share_facebook %}
                                                  <li class="article__share-item">
                                                      <a href="//www.facebook.com/sharer.php?u={{ share_link }}" class="article__share-link icon-fallback" target="_blank">
                                                          <i class="icon icon--facebook" aria-hidden="true"></i>
                                                          <span class="icon-fallback__text">Facebook</span>
                                                      </a>
                                                  </li>
                                              {% endif %}
                                              {% if settings.share_twitter %}
                                                  <li class="article__share-item">
                                                      <a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" class="article__share-link icon-fallback" target="_blank">
                                                          <i class="icon icon--twitter" aria-hidden="true"></i>
                                                          <span class="icon-fallback__text">Twitter</span>
                                                      </a>
                                                  </li>
                                              {% endif %}
                                              {% if settings.share_pinterest %}
                                                  <li class="article__share-item">
                                                      <a href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" class="article__share-link icon-fallback" target="_blank">
                                                          <i class="icon icon--pinterest" aria-hidden="true"></i>
                                                          <span class="icon-fallback__text">Pinterest</span>
                                                      </a>
                                                  </li>
                                              {% endif %}
                                              {% if settings.share_mail %}
                                                  <li class="article__share-item">
                                                      <a href="mailto:?body={{ share_title }} - {{ share_link }}" class="article__share-link icon-fallback">
                                                          <i class="icon icon--mail" aria-hidden="true"></i>
                                                          <span class="icon-fallback__text">Email</span>
                                                      </a>
                                                  </li>
                                              {% endif %}
                                          </ul>
                                      </div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  {%- when 'richtext' -%}
                    <div>
                      {{ block.settings.rich_text_content }}
                      {% if block.settings.rich_text_image != blank %}
                        <img src="{{ block.settings.rich_text_image | img_url: 'original' }}" width="" height="" alt="{{ block.settings.rich_text_image_alt }}" class="rich-text-image {% if block.settings.half_width_main_image %}half-width-destop-image{% endif %}">
                      {% endif %}
                    </div>
                  {%- when 'image' -%}
                    <div class="image-section">
                      <img src="{{ block.settings.image | img_url: 'original' }}" width="" height="" alt="{{ block.settings.image_alt }}" {% if block.settings.half_width_main_image %}class="half-width-destop-image"{% endif %}>
                    </div>
                  {%- when 'video' -%}
                    <div class="article-video-container">
                      <iframe 
                          src="https://www.youtube.com/embed/{{ block.settings.youtube_video_url | split: 'v=' | last }}?rel=0&showinfo=0" 
                          frameborder="0" 
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                          allowfullscreen
                          class="article-youtube-iframe">
                      </iframe>
                    </div>                  
                  {%- when 'in_a_hurry' -%}
                    <div class="custom-container in-a-hurry">
                      <h2>{{ block.settings.in_a_hurry_title }}</h2>
                      <div>
                        <div class="in-a-hurry__media">
                          <a href="{{ block.settings.in_a_hurry_url }}" target="_blank">
                            <img src="{{ block.settings.in_a_hurry_image | img_url: 'original' }}" alt="{{ block.settings.in_a_hurry_image_alt }}" width="" height="">
                          </a>
                        </div>
                        <div class="in-a-hurry__text">
                          <p>{{ block.settings.in_a_hurry_text }}</p>
                        </div>
                      </div>
                      <div>
                        <a class="button button-main" href="{{ block.settings.in_a_hurry_url }}" target="_blank"><span>CHECK PRICE</span></a>
                      </div>
                    </div>
                  {%- when 'anchor_list' -%}
                    <h2>Top {{ article.title }} reviewed</h2>
                    <div class="anchor-list">
                      <ol>
                        {% for block in section.blocks %}
                          {% if block.type == "product" %}
                            <li>
                                <p><a href="#product-{{ block.settings.product_title | downcase | replace: ' ', '-' }}">{{ block.settings.product_title }}</a>{% unless block.settings.product_award == blank %} - {{ block.settings.product_award }}{% endunless %}</p>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ol>
                    </div>
                  {%- when 'rating_table' -%}
                      <h2>Products Comparison</h2>
                      <div class="rating-table__container">
                        <table class="rating-table">
                          <thead class="rating-table_criterias">
                            <th><p>Product</p></th>
                            <th><p>Total</p></th>
                            <th><p>{{ section.settings.criteria_1 }}</p></th>
                            <th><p>{{ section.settings.criteria_2 }}</p></th>
                            <th><p>{{ section.settings.criteria_3 }}</p></th>
                            {% if section.settings.criteria_4 != blank %}
                              <th><p>{{ section.settings.criteria_4 }}</p></th>
                            {% endif %}
                            {% if section.settings.criteria_5 != blank %}
                              <th><p>{{ section.settings.criteria_5 }}</p></th>
                            {% endif %}
                            {% if section.settings.criteria_6 != blank %}
                              <th><p>{{ section.settings.criteria_6 }}</p></th>
                            {% endif %}
                            {% if section.settings.criteria_7 != blank %}
                              <th><p>{{ section.settings.criteria_7 }}</p></th>
                            {% endif %}
                            {% if section.settings.criteria_8 != blank %}
                              <th><p>{{ section.settings.criteria_8 }}</p></th>
                            {% endif %}
                            {% if section.settings.criteria_9 != blank %}
                              <th><p>{{ section.settings.criteria_9 }}</p></th>
                            {% endif %}
                            {% if section.settings.criteria_10 != blank %}
                              <th><p>{{ section.settings.criteria_10 }}</p></th>
                            {% endif %}
                          </thead>
                          <tbody>
                          {% for block in section.blocks %}
                              {% if block.type == "product" %}
                                <tr class="rating-table_product">
                                  <td><a href="{{ block.settings.product_url }}" target="_blank">{% if block.settings.product_position == '1' %}🥇{% endif %}{% if block.settings.product_position == '2' %}🥈{% endif %}{% if block.settings.product_position == '3' %}🥉{% endif %}{{ block.settings.short_product_title }}</a></td>
                                  <td><p>{{ block.settings.total_rating }}</p></td>
                                  <td><p>{{ block.settings.product_rating_1 }}</p></td>
                                  <td><p>{{ block.settings.product_rating_2 }}</p></td>
                                  <td><p>{{ block.settings.product_rating_3 }}</p></td>
                                  {% if block.settings.product_rating_4 != blank %}
                                    <td><p>{{ block.settings.product_rating_4 }}</p></td>
                                  {% endif %}
                                  {% if block.settings.product_rating_5 != blank %}
                                    <td><p>{{ block.settings.product_rating_5 }}</p></td>
                                  {% endif %}
                                  {% if block.settings.product_rating_6 != blank %}
                                    <td><p>{{ block.settings.product_rating_6 }}</p></td>
                                  {% endif %}
                                  {% if block.settings.product_rating_7 != blank %}
                                    <td><p>{{ block.settings.product_rating_7 }}</p></td>
                                  {% endif %}
                                  {% if block.settings.product_rating_8 != blank %}
                                    <td><p>{{ block.settings.product_rating_8 }}</p></td>
                                  {% endif %}
                                  {% if block.settings.product_rating_9 != blank %}
                                    <td><p>{{ block.settings.product_rating_9 }}</p></td>
                                  {% endif %}
                                  {% if block.settings.product_rating_10 != blank %}
                                    <td><p>{{ block.settings.product_rating_10 }}</p></td>
                                  {% endif %}
                                </tr>
                              {% endif %}
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                  {%- when 'why_trust_us' -%}
                    <div class="article-why-trust-us custom-container">
                      <h2>Why Trust Our Reviews?</h2>
                      <p>Our product reviews are meticulously curated by a team of seasoned athletes, certified coaches, and sports nutrition experts, boasting more than 20 years of collective coaching experience. In our mission to promote Olympic weightlifting and strength training, we engage in comprehensive testing and evaluation of weightlifting products and supplements, making certain that only the utmost quality items meet our rigorous criteria.</p>
                      <p>We take a hands-on approach, procuring and personally testing these products in gym settings, affording us genuine insights into their performance. Our credibility stems from the expertise of experienced athletes, supported by authentic photos and videos, offering you dependable assessments tailored to athletes of all skill levels.</p>
                    </div>                  
                  {%- when 'product' -%}
                    <h2>{{ block.settings.product_position }}. <a href="{{ block.settings.product_url }}" target="_blank">{{ block.settings.product_title }}</a></h2>
                    <div class="best-product-section" id="product-{{ block.settings.product_title | downcase | replace: ' ', '-' }}">
                      <div class="product-card custom-container">
                        {% unless block.settings.product_award == blank %}
                          <div class="product-badge"><p>{{ block.settings.product_award }}</p></div>
                        {% endunless %}
                        <div class="product-card-rating">
                          <a href="{{ block.settings.product_url }}" target="_blank" class="best-product_image-link">
                            <img src="{{ block.settings.product_main_image | img_url: 'original' }}" alt="{{ block.settings.product_title }}" width="" height="">
                          </a>
                          <div>
                            <div class="star-rating-container">
                              <p><strong>Our Ratings: </strong> {{ block.settings.total_rating }}</p>
                              <div class="star-rating">
                                {% assign total_rating = block.settings.total_rating | plus: 0 %}
                                {% assign percentage = total_rating | times: 20 %}
                              
                                <div class="stars-overlay" style="width: {{ percentage }}%;">
                                  {% for i in (1..5) %}
                                    <svg class="star" viewBox="0 0 24 24">
                                      <polygon points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"></polygon>
                                    </svg>
                                  {% endfor %}
                                </div>
                              
                                <div class="stars-background">
                                  {% for i in (1..5) %}
                                    <svg class="star" viewBox="0 0 24 24">
                                      <polygon points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"></polygon>
                                    </svg>
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                            <ul>
                              {% for i in (1..10) %}
                                {% assign rating_key = 'product_rating_' | append: i %}
                                {% assign criteria_key = 'criteria_' | append: i %}
                                {% assign rating_value = block.settings[rating_key] | plus: 0 %}
                                {% assign criteria_name = section.settings[criteria_key] %}
                                  {% if rating_value > 0 %}
                                    <li>
                                      <p>{{ criteria_name }}: <strong>{{ rating_value }}</strong></p>
                                    </li>
                                  {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                        <div class="product-card-desc">
                          {{ block.settings.product_rating_description }}
                        </div>
                        <div class="product-buttons">
                          <a class="button secondary-button" href="{{ block.settings.product_url }}" target="_blank"><span>{{ block.settings.first_button_text }}</span></a>
                          {% if block.settings.second_button_text != blank %}
                            <a class="button button-main" href="{{ block.settings.second_button_url }}" target="_blank"><span>{{ block.settings.second_button_text }}</span></a>
                          {% endif %}
                        </div>
                      </div>
                      {{ block.settings.product_text_content_1 }}
                      {% if block.settings.product_review_image %}
                        <figure>
                          <img src="{{ block.settings.product_review_image | img_url: 'original' }}" alt="{{ block.settings.product_title }} in use" width="" height="" {% if block.settings.half_width_review_image %}class="half-width-destop-image"{% endif %}>
                          {% if block.settings.product_review_image_caption %}
                            <figcaption>{{ block.settings.product_review_image_caption }}</figcaption>
                          {% endif %}
                        </figure>
                      {% endif %}
                      {% if block.settings.product_text_content_2 %}
                        {{ block.settings.product_text_content_2 }}
                      {% endif %}
                      <div class="product-pros-cons">
                        <div class="product-pros">
                          <p class="product-pros__title">Pros:</p>
                          {{ block.settings.product_pros }}
                        </div>
                        <div class="product-cons">
                          <p class="product-cons__title">Cons:</p>
                          {{ block.settings.product_cons }}
                        </div>
                      </div>
                    </div>
                  {%- endcase -%}
              {%- endfor -%}
          </div>
      </div>
  
      {% if blog.next_article or blog.previous_article %}
          <div class="article-paginate">
              <div class="article-paginate__wrapper">
                  <div class="article-paginate__item article-paginate__item--prev{% unless blog.previous_article %} article-paginate__item--disabled{% endunless %}">
                      {% if blog.previous_article %}
                          <a href="{{ blog.previous_article }}" class="article-paginate__link icon-fallback">
                              <i class="icon icon--left-t" aria-hidden="true"></i>
                              <span class="icon-fallback__text">{{ 'blogs.article.older_post' | t  }}</span>
                          </a>
                      {% else %}
                          <span class="article-paginate__link icon-fallback">
                              <i class="icon icon--left-t" aria-hidden="true"></i>
                              <span class="icon-fallback__text">{{ 'blogs.article.older_post' | t  }}</span>
                          </span>
                      {% endif %}
                  </div>
                  <div class="article-paginate__item article-paginate__item--next{% unless blog.next_article %} article-paginate__item--disabled{% endunless %}">
                      {% if blog.next_article %}
                          <a href="{{ blog.next_article }}" class="article-paginate__link icon-fallback">
                              <i class="icon icon--right-t" aria-hidden="true"></i>
                              <span class="icon-fallback__text">{{ 'blogs.article.newer_post' | t }}</span>
                          </a>
                      {% else %}
                          <span class="article-paginate__link icon-fallback">
                              <i class="icon icon--right-t" aria-hidden="true"></i>
                              <span class="icon-fallback__text">{{ 'blogs.article.newer_post' | t }}</span>
                          </span>
                      {% endif %}
                  </div>
              </div>
          </div>
      {% endif %}
  
      {% if blog.comments_enabled? %}
          <div class="article-comments{% unless blog.next_article or blog.previous_article %} article-comments--mt{% endunless %}" id="comments">
              <div class="container container--tiny">
  
                  <div class="article-comments__comments">
                      {% if number_of_comments > 0 %}
                          <h2 class="article-comments__title h4">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
                      {% endif %}
                      {% paginate article.comments by 3 %}
                          {% if comment and comment.created_at %}
                              <p class="article-comments__note form-success">
                                  {% if blog.moderated? %}
                                      {{ 'blogs.comments.success_moderated' | t }}
                                  {% else %}
                                      {{ 'blogs.comments.success' | t }}
                                  {% endif %}
                              </p>
                          {% endif %}
                          {% if number_of_comments > 0 %}
                              <ul class="article-comments__items o-list-bare">
                                  {% for comment in article.comments %}
                                      <li id="{{ comment.id }}" class="article-comments__item">
                                          <div class="article-comments__content rte">
                                              {{ comment.content }}
                                          </div>
                                          <div class="article-comments__meta">
                                              <span class="article-comments__meta-item">{{ comment.author }}</span>
                                              <span class="article-comments__meta-item">{{ comment.created_at | time_tag: format: 'month_day_year' }}</span>
                                          </div>
                                      </li>
                                  {% endfor %}
                              </ul>
                          {% endif %}
                          {% if paginate.pages > 1 %}
                              <div class="article-comments__pagination">
                                  <div class="container">
                                      <div class="pagination">
                                          <div class="pagination__items">
                                              {{ paginate | default_pagination:
                                                  next: '<i class="icon icon--right-t"></i><span class="icon-fallback__text">Next Page</span>',
                                                  previous: '<i class="icon icon--left-t"></i><span class="icon-fallback__text">Previous Page</span>'
                                              }}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          {% endif %}
                      {% endpaginate %}
                  </div>
  
                  <div class="article-comments__form article-form{% if number_of_comments < 1 %} article-form--first{% endif %}">
                      {% form 'new_comment', article %}
  
                          <h2 class="article-form__title h4">{{ 'blogs.comments.title' | t }}</h2>
  
                          {{ form.errors | default_errors }}
  
                          <div class="o-layout">
  
                              <div class="o-layout__item u-1/1 u-1/2@tab">
                                  <label for="CommentAuthor">{{ 'blogs.comments.name' | t }}</label>
                                  <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}">
                              </div>
  
                              <div class="o-layout__item u-1/1 u-1/2@tab">
                                  <label for="CommentEmail">{{ 'blogs.comments.email' | t }}</label>
                                  <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                              </div>
  
                              <div class="o-layout__item u-1/1">
                                  <label for="CommentBody">{{ 'blogs.comments.message' | t }}</label>
                                  <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} input--error{% endif %}">{{ form.body }}</textarea>
                              </div>
                          </div>
  
                          {% if blog.moderated? %}
                              <p class="article-form__fine-print u-small">{{ 'blogs.comments.moderated' | t }}</p>
                          {% endif %}
  
                          <input type="submit" class="c-btn c-btn--primary c-btn--center" value="{{ 'blogs.comments.post' | t }}">
  
                      {% endform %}
                  </div>
  
              </div>
          </div>
      {% endif %}
  </section>
  <aside class="article-sidebar">
    {% for block in section.blocks %}
      {% if block.type == "sidebar" %}
          <div class="sidebar-product">
            <a href="{{ block.settings.sidebar_product_url }}" target="_blank">
              <img src="{{ block.settings.sidebar_product_image | img_url: 'original' }}" alt="{{ block.settings.sidebar_product_name }}" width="" height="">
            </a>
            <a href="{{ block.settings.sidebar_product_url }}" target="_blank" class="sidebar-product__name">{{ block.settings.sidebar_product_name }}</a>
            <a href="{{ block.settings.sidebar_product_url }}" target="_blank" class="button secondary-button"><span>BUY NOW</span></a>
          </div>
          <script>
            $(document).ready(function () {
              if ($(window).width() > 1200) {
                  var element = $(".sidebar-product");
          
                  element.removeClass("fixed absolute").attr("style", "");
          
                  var elementStart = element.offset().top - 140;
                  var main = $("main");
                  var mainEnd = main.offset().top + main.outerHeight();
                  var elementHeight = element.outerHeight();
          
                  element.css({
                      "width": element.outerWidth(),
                      "height": elementHeight
                  });
          
                  $(window).scroll(function () {
                      var scrollTop = $(window).scrollTop();
                      var stopPoint = mainEnd - elementHeight - 140;
          
                      if (scrollTop >= elementStart && scrollTop < stopPoint) {
                          element.addClass("fixed").removeClass("absolute").attr("style", "");
                      } else if (scrollTop >= stopPoint) {
                          element.css({
                              "top": stopPoint - element.offset().top,
                              "left": element.offset().left
                          }).removeClass("fixed").addClass("absolute");
                      } else {
                          element.removeClass("fixed absolute").attr("style", "");
                      }
                  });
              }
            });
          </script>
      {% endif %}
    {% endfor %}
  </aside>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      {{ article | img_url: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ settings.share_image.height | json }},
        "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ settings.share_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script>

{% schema %}
{
    "name": "Custom Best Article",
    "class": "js-section__article",
    "settings": [
        {
          "type": "text",
          "id": "criteria_1",
          "label": "Rating Criteria 1 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_2",
          "label": "Rating Criteria 2 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_3",
          "label": "Rating Criteria 3 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_4",
          "label": "Rating Criteria 4 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_5",
          "label": "Rating Criteria 5 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_6",
          "label": "Rating Criteria 6 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_7",
          "label": "Rating Criteria 7 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_8",
          "label": "Rating Criteria 8 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_9",
          "label": "Rating Criteria 9 (Best Articles)"
        },
        {
          "type": "text",
          "id": "criteria_10",
          "label": "Rating Criteria 10 (Best Articles)"
        },
        {
            "type": "checkbox",
            "id": "show_img",
            "label": "Show featured image",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "date",
            "name": "Date",
            "limit": 1
        },
        {
            "type": "title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "content",
            "name": "Content",
            "limit": 1
        },
        {
            "type": "tags",
            "name": "Tags",
            "limit": 1
        },
        {
            "type": "meta",
            "name": "Author and share",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "show_author",
                    "label": "Show author",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_sharing",
                    "label": "Show social sharing buttons",
                    "default": true
                }
            ]
        },
        {
          "type": "richtext",
          "name": "Rich Text Block",
          "settings": [
            {
              "type": "richtext",
              "id": "rich_text_content",
              "label": "Rich Text Content"
            },
            {
              "type": "image_picker",
              "id": "rich_text_image",
              "label": "Rich Text Image"
            },
            {
              "type": "textarea",
              "id": "rich_text_image_alt",
              "label": "Rich Text Image Alt"
            },
            {
              "type": "checkbox",
              "id": "half_width_main_image",
              "label": "Make image 50% width on desktop"
            }
          ]
        },
        {
          "type": "image",
          "name": "Image",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "textarea",
              "id": "image_alt",
              "label": "Image Alt"
            },
            {
              "type": "checkbox",
              "id": "half_width_main_image",
              "label": "Make image 50% width on desktop"
            }
          ]
        },
        {
          "type": "video",
          "name": "Youtube Video",
          "settings": [
            {
              "type": "text",
              "id": "youtube_video_url",
              "label": "Youtube Video URL"
            }
          ]
        },
        {
          "type": "in_a_hurry",
          "name": "In a Hurry",
          "settings": [
            {
              "type": "image_picker",
              "id": "in_a_hurry_image",
              "label": "In a Hurry Image"
            },
            {
              "type": "textarea",
              "id": "in_a_hurry_image_alt",
              "label": "In a Hurry Image Alt"
            },
            {
              "type": "text",
              "id": "in_a_hurry_title",
              "label": "In a Hurry Title"
            },
            {
              "type": "richtext",
              "id": "in_a_hurry_text",
              "label": "In a Hurry Text"
            },
            {
              "type": "url",
              "id": "in_a_hurry_url",
              "label": "In a Hurry URL"
            },
          ]
        },
        {
          "type": "anchor_list",
          "name": "Anchor List"
        },
        {
          "type": "rating_table",
          "name": "Rating Table"
        },
        {
          "type": "product",
          "name": "Product (Best Articles)",
          "settings": [
            {
              "type": "text",
              "id": "product_title",
              "label": "Product Title"
            },
            {
              "type": "text",
              "id": "short_product_title",
              "label": "Short Product Title for Rating Table"
            },
            {
              "type": "text",
              "id": "product_position",
              "label": "Product Position"
            },
            {
              "type": "text",
              "id": "product_award",
              "label": "Product Award"
            },
            {
              "type": "url",
              "id": "product_url",
              "label": "Product URL"
            },
            {
              "type": "image_picker",
              "id": "product_main_image",
              "label": "Product Main Image"
            },
            {
              "type": "text",
              "id": "first_button_text",
              "label": "First Button Text",
              "default": "CHECK LATEST PRICE"
            },
            {
              "type": "text",
              "id": "second_button_text",
              "label": "Second Button Text"
            },
            {
              "type": "url",
              "id": "second_button_url",
              "label": "Second Button URL"
            },
            {
              "type": "richtext",
              "id": "product_text_content_1",
              "label": "Product Text Content 1"
            },
            {
              "type": "image_picker",
              "id": "product_review_image",
              "label": "Product Review Image"
            },
            {
              "type": "checkbox",
              "id": "half_width_review_image",
              "label": "Make image 50% width on desktop"
            },
            {
              "type": "richtext",
              "id": "product_review_image_caption",
              "label": "Product Review Image Caption"
            },
            {
              "type": "richtext",
              "id": "product_text_content_2",
              "label": "Product Text Content 2"
            },
            {
              "type": "richtext",
              "id": "product_rating_description",
              "label": "Product Rating Description"
            },
            {
              "type": "text",
              "id": "product_rating_1",
              "label": "Product Rating 1"
            },
            {
              "type": "text",
              "id": "product_rating_2",
              "label": "Product Rating 2"
            },
            {
              "type": "text",
              "id": "product_rating_3",
              "label": "Product Rating 3"
            },
            {
              "type": "text",
              "id": "product_rating_4",
              "label": "Product Rating 4"
            },
            {
              "type": "text",
              "id": "product_rating_5",
              "label": "Product Rating 5"
            },
            {
              "type": "text",
              "id": "product_rating_6",
              "label": "Product Rating 6"
            },
            {
              "type": "text",
              "id": "product_rating_7",
              "label": "Product Rating 7"
            },
            {
              "type": "text",
              "id": "product_rating_8",
              "label": "Product Rating 8"
            },
            {
              "type": "text",
              "id": "product_rating_9",
              "label": "Product Rating 9"
            },
            {
              "type": "text",
              "id": "product_rating_10",
              "label": "Product Rating 10"
            },
            {
              "type": "text",
              "id": "total_rating",
              "label": "Total Rating"
            },
            {
              "type": "richtext",
              "id": "product_pros",
              "label": "Product Pros"
            },
            {
              "type": "richtext",
              "id": "product_cons",
              "label": "Product Cons"
            },
          ]
        },
        {
          "type": "sidebar",
          "name": "Sidebar Product",
          "settings": [
            {
              "type": "image_picker",
              "id": "sidebar_product_image",
              "label": "Sidebar Product Image"
            },
            {
              "type": "url",
              "id": "sidebar_product_url",
              "label": "Sidebar Product URL"
            },
            {
              "type": "text",
              "id": "sidebar_product_name",
              "label": "Sidebar Product Name"
            }
          ]
        },
        {
          "type": "why_trust_us",
          "name": "Why Trus Us?"
        }
    ]
}
{% endschema %}
