<style>
.mfp-container .collection-sidebar,
.mfp-container .collection-sidebar .mfp-close {
    background-color: {{ settings.color_drawer_bg }};
}
</style>

{%- liquid
    assign sort_by = search.sort_by | default: search.default_sort_by
    assign limit = section.settings.grid | times: section.settings.rows

    assign filter_exists = false
    if section.settings.show_sidebar
        assign filter_exists = true
    endif

    assign show_main_sort = false
    if section.settings.show_sidebar == false or filter_exists == false
        if section.settings.sort_enable
            assign show_main_sort = true
        endif
    endif

    if settings.swatches_trigger != '' and section.settings.show_swatches and  settings.swatches_enabled
        assign swatches_enabled = true
        assign triggers_raw = settings.swatches_trigger | newline_to_br | strip_newlines | split: '<br />'
        assign triggers = '' | split: ','
        for trigger in triggers_raw
            assign t = trigger | strip | downcase | split: ','
            assign triggers = triggers | concat: t
        endfor
    endif

    assign dynamic_checkout_enabled = false
    if settings.quick_shop_enabled and settings.quick_shop_payment_button
        assign dynamic_checkout_enabled = true
    endif
-%}

<section class="section section--{{ section.id }} section--search search-page" data-section-id="{{ section.id }}" data-section-type="search-template">
    <dynamic-product-search
        class="
            collection
            collection--sidebar-sidebar
            {% if collection.image and section.settings.show_collection_image %}collection--img{% endif %}
            {% if section.settings.center_title %} collection--center{% endif %}
        "
        data-section="{{ section.id }}"
        data-url="{{ routes.search_url }}"
        data-quick-shop-dynamic-checkout="{{ dynamic_checkout_enabled }}"
        data-page-title="{% render 'seo-title' %}"
    >

        {%- liquid
            assign mobile_sizes = 100 | divided_by: section.settings.grid_mobile
            assign sizes = mobile_sizes
             case section.settings.grid
                 when 2
                    assign grid_item_width = 'u-1/2@phab'
                    assign image_size = '740x'
                    assign sizes = '(min-width: 561px) 50vw, ' | append: mobile_sizes | append: 'vw'
                     if section.settings.show_sidebar
                        assign container_size = 'default'
                     else
                        assign container_size = 'large'
                     endif
                 when 3
                    assign grid_item_width = 'u-1/2@phab u-1/3@tab'
                    assign image_size = '520x'
                    assign sizes = '(min-width: 561px) 50vw, (min-width: 768px) 33vw, ' | append: mobile_sizes | append: 'vw'
                     if section.settings.show_sidebar
                        assign container_size = 'default'
                     else
                        assign container_size = 'large'
                     endif
                 when 4
                     if section.settings.show_sidebar
                        assign grid_item_width = 'u-1/3@tab u-1/4-grid-desk'
                     else
                        assign grid_item_width = 'u-1/3@tab u-1/4@desk'
                     endif
                    assign image_size = '380x'
                    assign container_size = 'default'
                    assign sizes = '(min-width: 768px) 33vw, (min-width: 981px) 25vw, ' | append: mobile_sizes | append: 'vw'
             endcase
        -%}

        <div class="container container--{{ container_size }}">

            <div class="section__title section__title--center">
                <h1 class="section__title-text h2">{% if search.performed %}{{ 'general.search.title_results' | t }}{% else %}{{ 'general.search.title' | t }}{% endif %}</h1>
            </div>

            <form action="{{ routes.search_url }}" method="get" class="search-page__form js-search-form" role="search">

                <input type="hidden" name="type" value="{{ settings.search_limit }}">

                <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="search-page__form-input" aria-label="{{ 'general.search.placeholder' | t }}">

                <button type="submit" class="search-page__form-submit" aria-label="{{ 'general.search.submit' | t }}">
                    {% render 'icon-search' %}
                </button>
            </form>

            {%- if search.performed -%}
                {%- if search.results_count < 1  and search.filters.size < 1 -%}

                    <div class="search-page__info"><p class="search-page__info__text">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p></div>

                {%- else -%}

                    <div class="search-page__info"><p class="search-page__info__text">{{ 'general.search.results_count' | t: count: search.results_count }}</p></div>

                    {% paginate search.results by limit %}

                        <div class="collection-main collection-main--search" id="collection-main">

                            <div class="collection-main__actions">
                                {% comment %}Sidebar blocks count{% endcomment %}
                                {% if section.settings.show_sidebar %}
                                    <div class="collection-main__filter">
                                        <a href="#" class="collection-main__filter-btn c-btn c-btn--primary c-btn--full js-collection-draw-trigger">
                                        {%- if show_main_sort == false and section.settings.sort_enable -%}
                                            {{ 'collections.general.filter_sort_label' | t }}
                                        {%- else -%}
                                            {{ 'collections.general.filter_label' | t }}
                                        {%- endif -%}
                                        </a>
                                    </div>
                                {% endif %}
                                {% comment %}Sidebar blocks count{% endcomment %}

                                {% if show_main_sort %}
                                    <form class="js-sort-form" data-submit-on-change="true">
                                        <input type="hidden" name="q" value="{{ search.terms }}">

                                        <div class="collection-main__sort ">
                                            <div class="selector-wrapper collection-main__sort__selector">
                                                <label class="collection-filters__label" for="SortBy">{{ 'collections.sorting.title' | t }}</label>

                                                {%- assign sort_by = search.sort_by | default: search.default_sort_by -%}
                                                <select name="sort_by" class="select__select js-collection-sort" id="SortBy">
                                                    {%- for option in search.sort_options -%}
                                                        <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                                                    {%- endfor -%}
                                                </select>

                                                <noscript>
                                                    <input type="submit" class="c-btn c-btn--primary" value="{{ 'collections.sorting.sort_button' | t }}">
                                                </noscript>

                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>

                            <div class="collection-products{% if show_main_sort == false and section.settings.sort_enable %} collection-products--sort-enabled{% endif %}">

                                {% comment %}Sidebar blocks count{% endcomment %}
                                {% if section.settings.show_sidebar %}
                                <div class="o-layout">

                                    <div class="o-layout__item u-1/1 u-1/4-sidebar-desk u-1/5-sidebar-wide">
                                        <aside class="collection-sidebar collection-sidebar--{{ settings.color_drawer_style }} js-collection-draw">
                                            <div class="collection-sidebar__wrapper">

                                                {%- assign filter_count = 0 -%}
                                                {%- for filter in search.filters -%}
                                                    {%- assign filter_count = filter_count | plus: filter.active_values.size -%}
                                                {%- endfor -%}

                                                <div class="collection-sidebar__section collection-sidebar__section--filter collection-sidebar__filter">

                                                    <form class="collection-sidebar__filter-form js-filters-form" data-submit-on-change="true">
                                                        <input type="hidden" name="q" value="{{ search.terms }}">
                                                        {% if section.settings.sort_enable %}
                                                            <div class="collection-sidebar__filter__sort ">
                                                                <div class="selector-wrapper collection-sidebar__filter__sort__selector">
                                                                    <label class="collection-filters__label" for="SortBy">{{ 'collections.sorting.title' | t }}</label>

                                                                    {%- assign sort_by = search.sort_by | default: search.default_sort_by -%}
                                                                    <select name="sort_by" class="select__select collection-filters__sort js-collection-sort" id="SortBy">
                                                                        {%- for option in search.sort_options -%}
                                                                            <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                                                                        {%- endfor -%}
                                                                    </select>

                                                                    <noscript>
                                                                        <input type="submit" class="c-btn c-btn--primary" value="{{ 'collections.sorting.sort_button' | t }}">
                                                                    </noscript>

                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                        <accordion-group>
                                                        {%- for filter in search.filters -%}
                                                            {%- liquid
                                                                assign accordion_open = false
                                                                if section.settings.filter_visibility == 'three' and forloop.index < 4
                                                                    assign accordion_open = true
                                                                elsif filter.active_values.size > 0 or section.settings.filter_visibility == 'all'
                                                                    assign accordion_open = true
                                                                endif
                                                            -%}
                                                            {%- case filter.type -%}
                                                                {%- when 'list' -%}

                                                                    {%- liquid
                                                                        assign filter_label = filter.label | escape | strip | downcase
                                                                        if triggers contains filter_label and swatches_enabled

                                                                            comment
                                                                                Process colors
                                                                            endcomment
                                                                            assign variant_colors_raw = settings.swatches_colors_override | newline_to_br | strip_newlines | split: '<br />'
                                                                            assign variant_color_names = '' | split: ','
                                                                            assign variant_colors = '' | split: ','
                                                                            for variant_color_raw in variant_colors_raw
                                                                                assign variant_color_name = variant_color_raw | split: ':' | first | strip | downcase | split: ':'
                                                                                assign variant_color_names = variant_color_names | concat: variant_color_name
                                                                                assign variant_color = variant_color_raw | split: ':' | last | strip | split: ':'
                                                                                assign variant_colors = variant_colors | concat: variant_color
                                                                            endfor

                                                                            comment
                                                                                Process images
                                                                            endcomment
                                                                            assign variant_images_raw = settings.swatches_images_override | newline_to_br | strip_newlines | split: '<br />'
                                                                            assign variant_image_names = '' | split: ','
                                                                            assign variant_images = '' | split: ','
                                                                            for variant_image_raw in variant_images_raw
                                                                                assign variant_image_name = variant_image_raw | split: ':' | first | strip | downcase | split: ':'
                                                                                assign variant_image_names = variant_image_names | concat: variant_image_name
                                                                                assign variant_image = variant_image_raw | split: ':' | last | strip | split: ':'
                                                                                assign variant_images = variant_images | concat: variant_image
                                                                            endfor

                                                                            assign variant_names = variant_color_names | concat: variant_image_names

                                                                        endif
                                                                    -%}

                                                                    <details
                                                                        {% if accordion_open %}open{% endif %}
                                                                        id="{{ section.id }}-filter-{{ forloop.index }}"
                                                                        class="collection-sidebar__filter-group"
                                                                    >

                                                                        <summary class="collection-sidebar__filter-trigger">
                                                                            <span>{{ filter.label }}</span>
                                                                            <summary-icon>
                                                                                <i class="icon icon--plus" aria-hidden="true"></i>
                                                                            </summary-icon>
                                                                        </summary>

                                                                        <details-content class="collection-sidebar__filter__accordion">
                                                                            <ul class="o-list-bare">
                                                                                {%- for filter_value in filter.values -%}

                                                                                    <li class="collection-sidebar__item{% if filter_value.count == 0 and filter_value.active == false %} collection-sidebar__item--disabled{% endif %}">

                                                                                    {%- liquid
                                                                                        assign additional_classes = ''
                                                                                        if triggers contains filter_label and swatches_enabled
                                                                                            assign v = filter_value.label | strip | downcase
                                                                                            assign graphic = ''
                                                                                            assign graphic_is_image = false
                                                                                            for variant_name in variant_names
                                                                                                if variant_name == v
                                                                                                    if forloop.index0 < variant_color_names.size
                                                                                                        assign graphic = variant_colors[forloop.index0]
                                                                                                        assign graphic_is_image = false
                                                                                                    else
                                                                                                        assign index = forloop.index0 | minus: variant_color_names.size
                                                                                                        assign graphic = variant_images[index]
                                                                                                        assign graphic_is_image = true
                                                                                                    endif
                                                                                                    break
                                                                                                endif
                                                                                            endfor

                                                                                            if graphic == blank
                                                                                              assign graphic = v | downcase | replace: ' ', ''
                                                                                            endif

                                                                                            assign graphic_brightness = graphic | color_brightness
                                                                                            if graphic_brightness > 125
                                                                                              assign checked_color = '#000000'
                                                                                            else
                                                                                              assign checked_color = '#ffffff'
                                                                                            endif

                                                                                            if graphic_brightness == null and graphic_is_image == false
                                                                                              assign checked_color = settings.color_text
                                                                                            endif

                                                                                            assign additional_classes = 'collection-sidebar__link__box--swatch'
                                                                                            if graphic_is_image
                                                                                                assign additional_classes = additional_classes | append: ' collection-sidebar__link__box--image-swatch'
                                                                                            endif
                                                                                        endif
                                                                                    -%}

                                                                                        <input type="checkbox"
                                                                                            name="{{ filter_value.param_name }}"
                                                                                            value="{{ filter_value.value }}"
                                                                                            class="collection-sidebar__filter__input"
                                                                                            id="Filter-{{ filter.label }}-{{ forloop.index }}"
                                                                                            {% if filter_value.active -%} checked{%- endif %}
                                                                                            {% if filter_value.count == 0 and filter_value.active == false %} disabled{% endif %}
                                                                                        >
                                                                                        <label for="Filter-{{ filter.label }}-{{ forloop.index }}" class="collection-sidebar__link js-filter-label">
                                                                                            <span class="collection-sidebar__link__box {{ additional_classes }}" {% if triggers contains filter_label and swatches_enabled %}style="--background-graphic: {% if graphic_is_image %}url({{ graphic | file_img_url: '68x' }}){% else %}{{ graphic }}{% endif %}"{% endif %}>
                                                                                                <i class="icon icon--tick" aria-hidden="true" {% if triggers contains filter_label and swatches_enabled %}style="color: {{ checked_color }}"{% endif %}></i>
                                                                                            </span>
                                                                                            {{ filter_value.label | escape }}
                                                                                            {% if section.settings.count %}
                                                                                                <span class="collection-sidebar__link__count">{{ filter_value.count }}</span>
                                                                                            {% endif %}
                                                                                        </label>
                                                                                    </li>
                                                                                {%- endfor -%}
                                                                            </ul>
                                                                        </details-content>
                                                                    </details>

                                                                {%- when 'price_range' -%}

                                                                    <details
                                                                        {% if accordion_open %}open{% endif %}
                                                                        id="{{ section.id }}-filter-{{ forloop.index }}"
                                                                        class="collection-sidebar__filter-group collection-sidebar__filter-group--price"
                                                                    >

                                                                        <summary class="collection-sidebar__filter-trigger">
                                                                            <span>{{ filter.label }}</span>
                                                                            <summary-icon>
                                                                                <i class="icon icon--plus" aria-hidden="true"></i>
                                                                            </summary-icon>
                                                                        </summary>

                                                                        <details-content class="collection-sidebar__filter__accordion">
                                                                            <div class="collection-sidebar__items">
                                                                                <price-range class="price-range">

                                                                                    <div class="collection-sidebar__filter-price">

                                                                                        <div class="collection-sidebar__filter-price__item collection-sidebar__filter-price__item--from">
                                                                                            <span class="collection-sidebar__filter-price__currency">{{ cart.currency.symbol }}</span>

                                                                                            <input name="{{ filter.min_value.param_name }}"
                                                                                              id="Filter-{{ filter.label }}-min-{{ forloop.index }}"
                                                                                              class="collection-sidebar__filter-price__input price-range__number"
                                                                                              {% if filter.min_value.value -%}
                                                                                                value="{{ filter.min_value.value | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                              {%- endif %}
                                                                                              type="number"
                                                                                              inputmode="numeric"
                                                                                              placeholder="0"
                                                                                              min="0"
                                                                                              max="{{ filter.range_max | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                            >
                                                                                            <label for="Filter-{{ filter.label }}-min-{{ forloop.index }}" class="collection-sidebar__filter-price__label">{{ 'collections.general.from' | t }}</label>
                                                                                        </div>

                                                                                        <div class="collection-sidebar__filter-price__item collection-sidebar__filter-price__item--separator">-</div>


                                                                                        <div class="collection-sidebar__filter-price__item collection-sidebar__filter-price__item--to">
                                                                                            <span class="collection-sidebar__filter-price__currency">{{ cart.currency.symbol }}</span>
                                                                                            <input name="{{ filter.max_value.param_name }}"
                                                                                              id="Filter-{{ filter.label }}-max-{{ forloop.index }}"
                                                                                              class="collection-sidebar__filter-price__input price-range__number"
                                                                                              {% if filter.max_value.value -%}
                                                                                                value="{{ filter.max_value.value | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                              {%- endif %}
                                                                                              type="number"
                                                                                              inputmode="numeric"
                                                                                              placeholder="{{ filter.range_max | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                              min="0"
                                                                                              max="{{ filter.range_max | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                            >

                                                                                            <label for="Filter-{{ filter.label }}-max-{{ forloop.index }}" class="collection-sidebar__filter-price__label">{{ 'collections.general.to' | t }}</label>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="price-range__group">
                                                                                        <div class="price-range__track">
                                                                                            <input class="price-range__input"
                                                                                                {%- if filter.min_value.value -%}
                                                                                                    value="{{ filter.min_value.value | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                                {%- else -%}
                                                                                                    value="0"
                                                                                                {%- endif -%}
                                                                                                min="0"
                                                                                                max="{{ filter.range_max | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                                type="range"
                                                                                                tabindex="-1"
                                                                                            >
                                                                                            <input class="price-range__input"
                                                                                                {%- if filter.max_value.value -%}
                                                                                                    value="{{ filter.max_value.value | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                                {%- else -%}
                                                                                                    value="{{ filter.range_max | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                                {%- endif -%}
                                                                                                min="0"
                                                                                                max="{{ filter.range_max | money_without_currency | replace: '.00', '' | replace: ',', '' }}"
                                                                                                type="range"
                                                                                                tabindex="-1"
                                                                                            >
                                                                                        </div>
                                                                                    </div>
                                                                                </price-range>
                                                                            </div>
                                                                        </details-content>

                                                                    </details>

                                                            {%- endcase -%}
                                                        {%- endfor -%}
                                                        </accordion-group>

                                                        <noscript>
                                                            <input type="submit" class="collection-sidebar__filter-submit c-btn c-btn--primary" value="{{ 'collections.general.apply' | t }}">
                                                        </noscript>

                                                    </form>
                                                </div>


                                            </div>
                                            <div class="collection-sidebar__draw-actions">
                                                {%- liquid
                                                    assign filters_present = false
                                                    for filter in search.filters
                                                        for filter_value in filter.active_values
                                                            assign filters_present = true
                                                            break
                                                        endfor
                                                        if filters_present
                                                            break
                                                        endif
                                                        if filter.type == "price_range"
                                                            if filter.min_value.value != nil or filter.max_value.value != nil
                                                                assign filters_present = true
                                                                break
                                                            endif
                                                        endif
                                                    endfor
                                                -%}
                                                <div class="o-layout o-layout--small">
                                                    <div class="o-layout__item u-1/2">
                                                        <button
                                                            type="button"
                                                            data-url="{{ routes.search_url }}?types={{ search.types | join: ',' | url_encode }}&q={{ search.terms }}&sort_by={{ sort_by }}"
                                                            class="c-btn c-btn--hollow c-btn--full js-filter-trigger"
                                                            {% if filters_present == false %}disabled{% endif %}
                                                        >
                                                            {{ 'collections.general.tags_clear_all' | t }}
                                                        </button>
                                                    </div>
                                                    <div class="o-layout__item u-1/2">
                                                        <button
                                                            type="button"
                                                            class="c-btn c-btn--primary c-btn--no-border c-btn--full js-close-mfp"
                                                        >
                                                            {{ 'general.search.view_results' | t: count: search.results_count }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </div>

                                    <div class="o-layout__item u-1/1 u-3/4-sidebar-desk u-4/5-sidebar-wide">

                                {% endif %}
                                {% comment %}Sidebar blocks count{% endcomment %}

                                        <div class="collection__filters-active">
                                            <div class="collection__filters-active__wrapper">
                                                <a href="{{ routes.search_url }}?types={{ search.types | join: ',' | url_encode }}&q={{ search.terms }}&sort_by={{ sort_by }}" class="collection__filters-active__filter collection__filters-active__filter--clear js-filter-trigger">{{ 'collections.general.tags_clear_all' | t }}</a>
                                                {%- for filter in search.filters -%}
                                                    {%- for filter_value in filter.active_values -%}
                                                        <a class="collection__filters-active__filter js-filter-trigger" href="{{ filter_value.url_to_remove }}">{{ filter_value.label | escape }}</a>
                                                    {%- endfor -%}

                                                    {% if filter.type == "price_range" %}
                                                        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                                                            <a href="{{ filter.url_to_remove }}" class="collection__filters-active__filter js-filter-trigger">
                                                                <span>
                                                                    {% if filter.min_value.value %}
                                                                        {{ filter.min_value.value | money }}
                                                                    {% else %}
                                                                        {{ 0 | money }}
                                                                    {% endif %}
                                                                     -
                                                                    {% if filter.max_value.value %}
                                                                        {{ filter.max_value.value | money }}
                                                                    {% else %}
                                                                        {{ filter.range_max | money }}
                                                                    {% endif %}
                                                                </span>
                                                            </a>
                                                        {%- endif -%}
                                                    {%- endif -%}
                                                {%- endfor -%}
                                            </div>
                                        </div>

                                        <div class="
                                            collection__cards
                                            o-layout
                                            {% if settings.product_grid_masonry %}o-layout--masonry{% endif %}
                                            {% if section.settings.grid == 4 %}o-layout--small{% endif %}
                                            {% if section.settings.grid_mobile == '2' %}o-layout--small@tab-down{% endif %}
                                            "
                                        >
                                            {%- for item in search.results -%}

                                                {%- case item.object_type -%}
                                                {%- when 'product' -%}
                                                    {%- liquid
                                                        assign small_buttons_on_mobile = false
                                                        if section.settings.grid_mobile == '2'
                                                            assign small_buttons_on_mobile = true
                                                        endif
                                                    -%}
                                                    <div class="o-layout__item u-1/{{ section.settings.grid_mobile }} {{ grid_item_width }}">
                                                        {% render 'product-grid-item',
                                                            product: item,
                                                            page: 'search',
                                                            image_sizes: sizes,
                                                            small_buttons_on_mobile: small_buttons_on_mobile
                                                        %}
                                                    </div>

                                                {%- when 'article' -%}
                                                    <div class="o-layout__item u-1/{{ section.settings.grid_mobile }} {{ grid_item_width }}">

                                                        <a href="{{ item.url }}" class="search-grid-item__link">
                                                            <div class="search-grid-item search-grid-item--article">

                                                                <div class="label label--brand search-grid-item__label {% if settings.product_grid_label_position_right %}search-grid-item__label--position_right{% endif %}">
                                                                    <p class="label__text">{{ 'general.search.blog_label' | t }}</p>
                                                                </div>

                                                                <div class="o-ratio o-ratio--{{ settings.product_grid_image_size }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:100%;"{% endif %}>

                                                                    <div class="o-ratio__content">

                                                                        <div class="search-grid-item__wrapper">

                                                                            <div class="search-grid-item__media">
                                                                                {%- if item.image -%}
                                                                                    <picture>
                                                                                        <source
                                                                                            srcset="{% render 'bgset_mobile', image: item.image.src %}"
                                                                                            media="all and (max-width: 540px)"
                                                                                        />
                                                                                        <source
                                                                                            srcset="{% render 'bgset', image: item.image.src %}"
                                                                                            sizes="{{ sizes }}"
                                                                                            media="all and (min-width: 541px)"
                                                                                        />
                                                                                        <img
                                                                                            class="search-grid-item__media__img"
                                                                                            src="{{ item.image.src | img_url: '300x' }}"
                                                                                            width="300"
                                                                                            height="{{ 300 | divided_by: item.image.src.aspect_ratio | round }}"
                                                                                            alt="{{ item.image.alt }}"
                                                                                            loading="lazy"
                                                                                        />
                                                                                    </picture>
                                                                                {%- else -%}
                                                                                    <div class="search-grid-item__media__icon">
                                                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Polaris-icon/Major/Mono/Text Block"><path id="Icon" fill-rule="evenodd" clip-rule="evenodd" d="M19 0H1C0.448 0 0 0.448 0 1V19C0 19.552 0.448 20 1 20H19C19.552 20 20 19.552 20 19V1C20 0.448 19.552 0 19 0ZM2 18H18V2H2V18ZM5 11H15C15.552 11 16 10.552 16 10C16 9.448 15.552 9 15 9H5C4.448 9 4 9.448 4 10C4 10.552 4.448 11 5 11ZM5 7H15C15.552 7 16 6.552 16 6C16 5.448 15.552 5 15 5H5C4.448 5 4 5.448 4 6C4 6.552 4.448 7 5 7ZM10 13H5C4.448 13 4 13.448 4 14C4 14.552 4.448 15 5 15H9C9.552 15 10 14.552 10 14C10 13.448 9.552 13 9 13" fill="#637381"/><mask id="mask0_0:6439" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20"><path id="Icon_2" fill-rule="evenodd" clip-rule="evenodd" d="M19 0H1C0.448 0 0 0.448 0 1V19C0 19.552 0.448 20 1 20H19C19.552 20 20 19.552 20 19V1C20 0.448 19.552 0 19 0ZM2 18H18V2H2V18ZM5 11H15C15.552 11 16 10.552 16 10C16 9.448 15.552 9 15 9H5C4.448 9 4 9.448 4 10C4 10.552 4.448 11 5 11ZM5 7H15C15.552 7 16 6.552 16 6C16 5.448 15.552 5 15 5H5C4.448 5 4 5.448 4 6C4 6.552 4.448 7 5 7ZM10 13H5C4.448 13 4 13.448 4 14C4 14.552 4.448 15 5 15H9C9.552 15 10 14.552 10 14C10 13.448 9.552 13 9 13" fill="white"/></mask><g mask="url(#mask0_0:6439)"></g></g></svg>
                                                                                    </div>
                                                                                {%- endif -%}
                                                                            </div>
                                                                            <div class="search-grid-item__content">
                                                                                {%- if section.settings.article_show_date or section.settings.article_show_author -%}
                                                                                    <div class="search-grid-item__content__meta">
                                                                                        {%- if section.settings.article_show_date -%}
                                                                                            <p class="search-grid-item__content__meta__item">{{ item.published_at | time_tag: format: 'date' }}</p>
                                                                                        {%- endif -%}
                                                                                        {%- if section.settings.article_show_author -%}
                                                                                            <p class="search-grid-item__content__meta__item">{{ item.author }}</p>
                                                                                        {%- endif -%}
                                                                                    </div>
                                                                                {%- endif -%}
                                                                                <h2 class="search-grid-item__content__title h5">{{ item.title | truncate: 250 | escape }}</h2>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>

                                                    </div>

                                                {%- when 'page' -%}
                                                    <div class="o-layout__item u-1/{{ section.settings.grid_mobile }} {{ grid_item_width }}">

                                                        <a href="{{ item.url }}" class="search-grid-item__link">
                                                            <div class="search-grid-item search-grid-item--page">

                                                                <div class="label label--brand search-grid-item__label {% if settings.product_grid_label_position_right %}search-grid-item__label--position_right{% endif %}">
                                                                    <p class="label__text">{{ 'general.search.page_label' | t }}</p>
                                                                </div>

                                                                <div class="o-ratio o-ratio--{{ settings.product_grid_image_size }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:100%;"{% endif %}>

                                                                    <div class="o-ratio__content">

                                                                        <div class="search-grid-item__wrapper">

                                                                            <div class="search-grid-item__media">
                                                                                <div class="search-grid-item__media__icon">
                                                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Polaris-icon/Major/Mono/Page"><path id="Icon" fill-rule="evenodd" clip-rule="evenodd" d="M4 18H16V5.414L12.586 2H4V18ZM17 20H3C2.447 20 2 19.553 2 19V1C2 0.447 2.447 0 3 0H13C13.266 0 13.52 0.105 13.707 0.293L17.707 4.293C17.895 4.48 18 4.734 18 5V19C18 19.553 17.553 20 17 20Z" fill="#637381"/><mask id="mask0_0:5785" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="0" width="16" height="20"><path id="Icon_2" fill-rule="evenodd" clip-rule="evenodd" d="M4 18H16V5.414L12.586 2H4V18ZM17 20H3C2.447 20 2 19.553 2 19V1C2 0.447 2.447 0 3 0H13C13.266 0 13.52 0.105 13.707 0.293L17.707 4.293C17.895 4.48 18 4.734 18 5V19C18 19.553 17.553 20 17 20Z" fill="white"/></mask><g mask="url(#mask0_0:5785)"></g></g></svg>
                                                                                </div>
                                                                            </div>
                                                                            <div class="search-grid-item__content">
                                                                                <h2 class="search-grid-item__content__title h5">{{ item.title | truncate: 250 | escape }}</h2>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>

                                                    </div>

                                                {%- endcase -%}

                                            {%- else -%}

                                                <div class="o-layout__item u-1/1">
                                                    <div class="collection-empty">
                                                        {%- if filter_count > 0 -%}
                                                            <a href="{{ routes.search_url }}?q={{ search.terms }}&sort_by={{ sort_by }}" class="link link--underline">{{ 'collections.general.filter_reset' | t }}</a>
                                                        {%- endif -%}
                                                        <h5 class="collection-empty__title">{{ 'collections.general.no_matches' | t }}</h5>
                                                    </div>
                                                </div>

                                            {%- endfor -%}

                                        </div>

                                {% comment %}Sidebar blocks count{% endcomment %}
                                {% if section.settings.show_sidebar %}
                                    </div>
                                </div>
                                {% endif %}
                                {% comment %}Sidebar blocks count{% endcomment %}
                            </div>

                        </div>

                        {% if paginate.pages > 1 %}
                            <div class="collection-pagination">
                                <div class="container">
                                    <div class="pagination">
                                        <div class="pagination__items">
                                            {{ paginate | default_pagination:
                                                next: '<i class="icon icon--right-t"></i><span class="icon-fallback__text">Next Page</span>',
                                                previous: '<i class="icon icon--left-t"></i><span class="icon-fallback__text">Previous Page</span>'
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% endpaginate %}

                {%- endif -%}
            {%- endif -%}

        </div>

        <div class="o-page-loader">
            <div role="progressbar" class="o-page-loader__holder">
                <span class="o-page-loader__line o-page-loader__line--1"></span>
                <span class="o-page-loader__line o-page-loader__line--2"></span>
            </div>
        </div>
    </dynamic-product-search>
</section>

{% schema %}
{
    "name": "Search results",
    "class": "js-section__search",
    "settings": [
        {
            "type": "range",
            "id": "grid",
            "label": "Products per row (wide screens)",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "select",
            "id": "grid_mobile",
            "label": "Products per row (mobile)",
            "default": "1",
            "options": [
                {
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                }
            ]
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Rows",
            "min": 2,
            "max": 12,
            "step": 1,
            "default": 6
        },
        {
            "type": "header",
            "content": "Filtering and sorting"
        },
        {
            "type": "checkbox",
            "id": "sort_enable",
            "label": "Enable sorting",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_sidebar",
            "label": "Enable filtering",
            "default": true,
            "info": "[Customize filters](/admin/menus)"
        },
        {
            "type": "checkbox",
            "id": "count",
            "label": "Show product count",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_swatches",
            "label": "Show swatches",
            "default": true
        },
        {
            "type": "select",
            "id": "filter_visibility",
            "label": "Filter visibility",
            "options": [
                {
                    "label": "Collapse all rows",
                    "value": "none"
                },
                {
                    "label": "Expand all rows",
                    "value": "all"
                },
                {
                    "label": "Expand first three rows",
                    "value": "three"
                }
            ],
            "default": "three"
        },
        {
            "type": "header",
            "content": "Blog card"
        },
        {
            "type": "checkbox",
            "id": "article_show_date",
            "default": true,
            "label": "Show date"
        },
        {
            "type": "checkbox",
            "id": "article_show_author",
            "default": false,
            "label": "Show author"
        }
    ]
}
{% endschema %}
