{%- assign logo_size = section.settings.logo_size | times: 1.5 | round -%}
{%- assign logo_size_mobile = section.settings.logo_size_mobile -%}
{%- assign logo_img_size = logo_size | times: 2 | round -%}

<style type="text/css">
    .header,
    .header__logo {
        height: calc({{ logo_size }}px + {{ section.settings.logo_spacing | times: 7 }}px);
    }
    .header__logo-img {
        max-height: {{ logo_size }}px;
        padding: 0;
    }
    .header__logo-ratio-box {
        height: {{ logo_size }}px;
    }
    .password-header__link {
        top: Max(10px, calc(({{ logo_size }}px + {{ section.settings.logo_spacing | times: 7 }}px) / 2 - 15px));
    }
    @media screen and (max-width: 980px) {
        .password-header__link {
            top: 0;
        }
    }
    @media screen and (max-width: 767px) {
        .template-password .header {
            margin-top: 12px;
        }
        .header,
        .header__logo {
            height: calc({{ logo_size_mobile }}px + {{ section.settings.logo_spacing_mobile | times: 5 }}px);
        }
        .header__logo-img {
            max-height: {{ logo_size_mobile }}px;
        }
        .header__logo-ratio-box {
            height: auto;
            max-height: {{ logo_size_mobile }}px;
        }
    }
    @media screen and (max-width: 480px) {
        .header__logo-img, 
        .header__logo-ratio-box {
            max-width: 250px;
        }
    }
</style>

<header role="banner" id="top" class="header u-flex u-flex--middle u-flex--center" data-section-id="{{ section.id }}" data-section-type="password-header-section">
    <div class="header__logo u-flex u-flex--middle u-flex--center{% unless section.settings.logo %} header__logo--text{% endunless %}">
        <div class="header__logo-wrapper js-main-logo" itemscope itemtype="http://schema.org/Organization">
            {% if section.settings.logo %}
                <a href="{{ routes.root_url }}" itemprop="url" class="header__logo-link">
                    
                    {% capture image_size %}x{{ logo_img_size }}{% endcapture %}
                    <div class="header__logo-ratio-box" style="aspect-ratio: {{ section.settings.logo.aspect_ratio | round: 1 }}/1">
                        <img src="{{ section.settings.logo | img_url: image_size }}" class="header__logo-img" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}">
                    </div>

                </a>
            {% else %}
                <a href="{{ routes.root_url }}" class="header__logo-link header__logo-link--text" itemprop="url">{{ shop.name }}</a>
            {% endif %}
        </div>
    </div>
</header>

{% schema %}
{
    "name": "Password header",
    "class": "js-section__password-header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
        },
        {
            "type": "range",
            "id": "logo_size",
            "label": "Logo size desktop",
            "min": 10,
            "max": 100,
            "step": 5,
            "default": 50
        },
        {
            "type": "range",
            "id": "logo_spacing",
            "label": "Logo spacing desktop",
            "min": 0,
            "max": 15,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "logo_size_mobile",
            "label": "Logo size mobile",
            "min": 10,
            "max": 100,
            "step": 5,
            "default": 50
        },
        {
            "type": "range",
            "id": "logo_spacing_mobile",
            "label": "Logo spacing mobile",
            "min": 0,
            "max": 15,
            "step": 1,
            "default": 3
        }
    ]
}
{% endschema %}