<section class="section section--{{ section.id }} section--password-content" data-section-id="{{ section.id }}" data-section-type="password-content">
    <div class="container container--mob-0">
        <div class="password-content u-flex u-flex--middle u-flex--center">

            {% if section.settings.bg_image != blank %}
                <div class="password-content__bg--cover u-bg-contain" style="background-image: url('{{ section.settings.bg_image | img_url: '1x1' }}')"></div>
                <img
                    class="password-content__bg"
                    src="{{ section.settings.bg_image | img_url: '720x' }}"
                    srcset="{% render 'bgset', image: section.settings.bg_image %}"
                    width="720"
                    height="{{ 720 | divided_by: section.settings.bg_image.aspect_ratio | round }}"
                    alt="{{ section.settings.bg_image.alt }}"
                    loading="lazy"
                    style="object-position:{{ section.settings.bg_image.presentation.focal_point }}"
                />
            {% endif %}

            {%- if section.blocks.size > 0 -%}
                <div class="password-content__content">
                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                        {%- when 'heading' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="section__title section__title--center">
                                    <h1 class="section__title-text h2">{{ block.settings.heading | escape }}</h1>
                                </div>
                                {% unless shop.password_message == blank %}
                                    <div class="section__title-desc rte">
                                        <p>{{ shop.password_message }}</p>
                                    </div>
                                {% endunless %}
                            </div>

                        {%- when 'text' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class= "password-content__message rte">
                                    {% unless block.settings.text == blank %}
                                        {{ block.settings.text }}
                                    {% endunless %}
                                </div>
                            </div>

                        {%- when 'newsletter' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="password-content__form">
                                    {% form 'customer', class: 'password-form' %}
                                        {{ form.errors | default_errors }}
                                        {% if form.posted_successfully? %}
                                            <div class="u-text-center">
                                                <h4>{{ 'general.password_page.signup_form_success' | t }}</h4>
                                            </div>
                                        {% else %}
                                            <input type="hidden" name="contact[tags]" value="prospect, password page">
                                            <label for="email" class="u-hidden-visually">{{ 'general.password_page.signup_form_email_placeholder' | t }}</label>
                                            <input type="email" name="contact[email]" id="Email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                                            <button type="submit" name="commit" class="c-btn c-btn--full c-btn--primary">{{ block.settings.newsletter_button_text | escape }}</button>
                                        {% endif %}
                                    {% endform %}
                                </div>
                            </div>

                        {%- when 'share' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="password-content__social">
                                    {% capture share_link %}{{ shop.url }}{% endcapture %}
                                    {% capture share_title %}{{ shop.name | url_param_escape }}{% endcapture %}
                                    {% capture share_img %}{{ section.settings.bg_image | img_url: '800x' }}{% endcapture %}
                                    <ul class="password__share-items">
                                        {% if settings.share_facebook %}
                                            <li class="password__share-item">
                                                <a href="//www.facebook.com/sharer.php?u={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--facebook" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Facebook</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_twitter %}
                                            <li class="password__share-item">
                                                <a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--twitter" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Twitter</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_pinterest %}
                                            <li class="password__share-item">
                                                <a href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--pinterest" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Pinterest</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_mail %}
                                            <li class="password__share-item">
                                                <a href="mailto:?body={{ share_title }} - {{ share_link }}" class="password__share-link icon-fallback">
                                                    <i class="icon icon--mail" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Email</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                        {%- endcase -%}
                    {%- endfor -%}
                </div>
            {%- endif -%}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Password content",
    "class": "js-section__password-content",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image",
            "info": "2200px width recommended."
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Opening soon"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Be the first to know when we launch.<p>"
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "Newsletter",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "newsletter_button_text",
                    "label": "Newsletter button text",
                    "default": "Sign up"
                },
                {
                    "type": "paragraph",
                    "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&tag=prospect)"
                }
            ]
        },
        {
            "type": "share",
            "name": "Share",
            "limit": 1
        }
    ]
}
{% endschema %}
