{%- assign sizes = '100vw' -%}
{% if section.settings.mobile_layout == 'carousel' %}
    {%- assign mobile_sizes = 'calc(100vw - 120px)' -%}
{% elsif section.settings.grid_mobile == '2' %}
    {%- assign mobile_sizes = 'calc((100vw - 72px) / 2)' -%}
{% else %}
    {%- assign mobile_sizes = 'calc(100vw - 36px)' -%}
{% endif %}
{% case section.settings.grid %}
    {% when 2 %}
        {%- assign sizes = '(min-width: 1600px) calc((80vw - 90px) / 2), (min-width: 981px) calc((100vw - 90px) / 2), (min-width: 768px) calc((100vw - 66px) / 2), ' | append: mobile_sizes -%}
    {% when 3 %}
        {%- assign sizes = '(min-width: 1600px) calc((80vw - 120px) / 3), (min-width: 981px) calc((100vw - 120px) / 3), (min-width: 768px) calc((100vw - 66px) / 2), ' | append: mobile_sizes -%}
    {% when 4 %}
        {%- assign sizes = '(min-width: 1600px) calc((80vw - 105px) / 4), (min-width: 1081px) calc((100vw - 105px) / 4), (min-width: 981px) calc((100vw - 90px) / 3), (min-width: 768px) calc((100vw - 51px) / 2), ' | append: mobile_sizes -%}
{% endcase %}

<section class="section section--{{ section.id }} section--featured-collection {% if section.settings.link == blank %}section--mb-s{% if section.settings.mobile_layout == 'carousel' %} section--mb-reset--mob{% endif %}{% endif %} js-collection-section" data-section-id="{{ section.id }}" data-section-type="home-collection">
    <div class="container container--{{ section.settings.section_width }}{% if section.settings.mobile_layout == 'carousel' %} container--mob-0{% endif %}">

        {% if section.settings.title != blank %}
            <div class="section__title section__title--center">
                <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
            </div>
        {% endif %}

        <div class="featured-collection featured-collection--{{ section.settings.mobile_layout }}" data-section-id="{{ section.id }}">
            {%- assign collection = collections[section.settings.collection] -%}
            {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

            <div class="grid-layout grid-layout--{{ section.settings.grid }} grid-layout--mob-{{ section.settings.grid_mobile }} grid-layout--align-center">
                {%- liquid
                    assign small_buttons_on_mobile = false
                    if section.settings.grid_mobile == '2' and section.settings.mobile_layout != 'carousel'
                        assign small_buttons_on_mobile = true
                    endif
                -%}
                {% for product in collection.products limit: product_limit %}
                    {% render 'product-grid-item',
                        product: product,
                        collection: collection,
                        page: 'home',
                        image_sizes: sizes,
                        small_buttons_on_mobile: small_buttons_on_mobile
                    %}
                {% else %}
                    {%- liquid
                        if settings.quick_shop_enabled
                            assign quick_shop_trigger_split = settings.quick_shop_trigger | split: "-"
                            assign quick_shop_trigger = quick_shop_trigger_split | first

                            assign quick_shop_hover_enabled = false
                            if quick_shop_trigger_split.size > 1
                                assign quick_shop_hover_enabled = true
                            endif
                        endif
                    -%}
                    {% for i in (1..product_limit) %}
                        {%- liquid
                            assign product_id = 'preview-product-' | append: i
                        -%}
                        <div class="
                                product-card
                                js-product
                                js-product-card
                                product-card--{% if settings.product_grid_image_fit %}fit{% else %}crop{% endif %}
                                {% if settings.product_grid_align %}product-card--center{% else %}product-card--left{% endif %}
                                {% if page == 'home' %}home-products__item{% endif %}
                                {% if quick_shop_trigger %}product-card--trigger-{{ quick_shop_trigger }}{% endif %}
                                {% if quick_shop_hover_enabled %}product-card--hover{% endif %}
                            "
                            data-product-id="{{ product_id }}"
                        >

                            <div class="product-card-top">

                                <div class="product-card__media{% if settings.product_grid_hover == 'zoom' and quick_shop_trigger != 'icon' %} product-card__media--hover-zoom{% endif %}">

                                    <div class="o-ratio o-ratio--{{ settings.product_grid_image_size }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:100%;"{% endif %}>

                                        <div class="o-ratio__content">

                                            <div class="product-card__spinner product-card__spinner--grid js-product-card__spinner">
                                                <div class="product-card__spin-border"></div>
                                                <div class="product-card__spin-border"></div>
                                                <div class="product-card__spin-border"></div>
                                                <div class="product-card__spin-border"></div>
                                            </div>

                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'product-' | append: current | placeholder_svg_tag: 'product-card__img placeholder-svg placeholder-svg--light' }}

                                        </div>
                                    </div>

                                </div>

                                {% if quick_shop_trigger == 'button' %}
                                    <div class="product-card-btn">
                                        <a href="#" class="c-btn c-btn--full{% if settings.quick_shop_product_grid_button == 'outline' %} c-btn--hollow{% else %} c-btn--primary{% endif %} {% if small_buttons_on_mobile %}c-btn--small@mobile{% endif %} product-card-btn__btn js-quickshop-trigger">{{ 'products.product.select_options' | t }}</a>
                                    </div>
                                {% endif %}

                                {% if quick_shop_trigger == 'icon' %}
                                    <button class="quick-shop__trigger js-quickshop-trigger" aria-hidden="true" tabindex="-1">
                                        {% render 'icon-quickbuy' %}
                                    </button>
                                {% endif %}

                            </div>

                            <a href="#" class="product-card__link js-product-link{% if page == 'home' %} featured-collection__link{% endif %}">
                                <div class="product-card__details">
                                    {% if settings.product_grid_vendor %}
                                        <h3 class="product-card__vendor u-medium-small">{{ 'homepage.onboarding.product_vendor' | t }}</h3>
                                    {% endif %}

                                    <h2 class="product-card__title f-family--{{ settings.type_grid_style }} f-caps--{{ settings.type_grid_capitalize }} f-space--{{ settings.type_grid_letterspace }}">{{ 'homepage.onboarding.product_title' | t }}</h2>

                                    <div class="product-card__details__hover u-medium">
                                        {% if settings.product_grid_price %}
                                            <p class="price">
                                                {% render 'product-price',
                                                    product: product,
                                                    from_price: true,
                                                    show_price_notes: false
                                                %}
                                            </p>
                                        {% endif %}
                                    </div>

                                </div>
                            </a>

                            {% if settings.quick_shop_enabled %}
                                <quick-shop class="quick-shop--drawer-{{ settings.color_drawer_style }}">

                                    <div class="quick-shop__overlay"></div>

                                    <div class="quick-shop__wrapper">
                                        <div class="product-card__wrapper">

                                            <button class="quick-shop__close" title="Close (Esc)" type="button" aria-label="close">
                                                <i class="icon icon--close-l"></i>
                                            </button>

                                            <div class="product-card__media product-card__media--modal{% if settings.product_grid_hover == 'zoom' %} product-card__media--hover-zoom{% endif %}">
                                                <div class="o-ratio o-ratio--modal o-ratio--{{ settings.product_grid_image_size }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:100%;"{% endif %}>
                                                    <div class="o-ratio__content">

                                                        <div class="product-card__spinner product-card__spinner--modal js-product-card__spinner">
                                                            <div class="product-card__spin-border"></div>
                                                            <div class="product-card__spin-border"></div>
                                                            <div class="product-card__spin-border"></div>
                                                            <div class="product-card__spin-border"></div>
                                                        </div>

                                                        {{ 'product-' | append: current | placeholder_svg_tag: 'product-card__img placeholder-svg placeholder-svg--light' }}

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="product-card__details">

                                                <a href="#" class="product-card__link js-product-link">
                                                    {% if settings.product_grid_vendor %}
                                                        <h3 class="product-card__vendor u-medium-small">{{ 'homepage.onboarding.product_vendor' | t }}</h3>
                                                    {% endif %}
                                                    <h2 class="product-card__title f-family--{{ settings.type_grid_style }} f-caps--{{ settings.type_grid_capitalize }} f-space--{{ settings.type_grid_letterspace }}">{{ 'homepage.onboarding.product_title' | t }}</h2>
                                                </a>

                                                <div class="product-card__details__hover u-medium">
                                                    {% if settings.product_grid_price %}
                                                        <p class="price">
                                                            {% render 'product-price',
                                                                product: product,
                                                                from_price: true,
                                                                show_price_notes: false
                                                            %}
                                                        </p>
                                                    {% endif %}
                                                </div>

                                                <div class="product-card__more u-small">
                                                    <a href="#" class="product-card-details js-view-details">{{ 'general.quickshop.view_details' | t }}</a>
                                                </div>
                                            </div>

                                        </div>

                                        <hr class="product-form__divider">

                                        {% capture 'product_id_attr' %}js-product-form--{{ product_id }}{% endcapture %}

                                        <div class="product-form product-form--card js-product-form">
                                            <div class="product-form__content">
                                                <div class="price__notes">
                                                    {%- if cart.taxes_included -%}
                                                        <p class="price__note price__note--tax">
                                                            {{ 'products.general.include_taxes' | t }}
                                                        </p>
                                                    {%- endif -%}
                                                    {%- if shop.shipping_policy.body != blank -%}
                                                        <p class="price__note price__note--tax">
                                                            {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                                        </p>
                                                    {%- endif -%}
                                                </div>

                                                <div class="product-form__qty">
                                                    <label for="Quantity" class="quantity-selector u-small">{{ 'products.product.quantity' | t }}:</label>
                                                    <div class="product-form__qty-input">
                                                        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector js-qty-input">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="product-form__add js-product-buttons{% if settings.quick_shop_payment_button %} product-form__add--dynamic{% endif %}">
                                                <button type="submit" name="add" class="c-btn c-btn--full c-btn--{% if settings.quick_shop_payment_button %}hollow{% else %}primary{% endif %} product-form__add-btn js-product-add">
                                                    <span class="product-form__add-btn__text">
                                                        <span class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
                                                    </span>
                                                    <span class=" product-form__add-btn__tick"><i class="icon icon--tick"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </quick-shop>
                            {% endif %}
                        </div>

                    {% endfor %}
                {% endfor %}
            </div>

            {% if section.settings.mobile_layout == "carousel" %}
                <ul class="featured-collection__nav" style="" role="tablist">

                    {% for product in collection.products limit: product_limit %}
                        <li class="featured-collection__nav--item featured-collection__nav--item-{{forloop.index}}" role="presentation">
                            <button class="featured-collection__nav--btn {% if forloop.index == 1 %}active{% endif %}" type="button" role="tab" id="featured-collection-control-{{forloop.index}}" aria-controls="featured-collection-control-{{forloop.index}}" aria-label="Scroll to item #{{forloop.index}} of {{ forloop.length }}" tabindex="-1">{{forloop.index}}</button>
                        </li>
                    {% else %}
                        {% for i in (1..product_limit) %}
                            <li class="featured-collection__nav--item featured-collection__nav--item-{{forloop.index}}" role="presentation">
                                <button class="featured-collection__nav--btn {% if forloop.index == 1 %}active{% endif %}" type="button" role="tab" id="featured-collection-control-{{forloop.index}}" aria-controls="featured-collection-control-{{forloop.index}}" aria-label="Scroll to item #{{forloop.index}} of {{ forloop.length }}" tabindex="-1">{{forloop.index}}</button>
                            </li>
                        {% endfor %}
                    {% endfor %}

                </ul>
            {% endif %}

        </div>

        {% unless section.settings.link == blank %}
            <div class="section__link section__link--center">
                <a href="{{ section.settings.link }}" class="link link--arrow section__link-link">{{ section.settings.link_title | escape }}</a>
            </div>
        {% endunless %}

    </div>
</section>

{% schema %}
{
    "name": "Featured collection",
    "class": "js-section__featured-collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured collection"
        },
        {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "select",
            "id": "section_width",
            "label": "Section width",
            "default": "large",
            "options": [
                {
                    "label": "Default",
                    "value": "large"
                },
                {
                    "label": "Narrow",
                    "value": "small"
                },
                {
                    "label": "Wide",
                    "value": "wide"
                }
            ]
        },
        {
            "type": "select",
            "id": "mobile_layout",
            "label": "Mobile layout",
            "default": "carousel",
            "options": [
                {
                    "value": "carousel",
                    "label": "Carousel"
                },
                {
                    "value": "grid",
                    "label": "Grid"
                }
            ]
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Products per row (wide screens)",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "select",
            "id": "grid_mobile",
            "label": "Products per row (mobile)",
            "default": "1",
            "options": [
                {
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                }
            ]
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Rows (grid layout only)",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Link label",
            "default": "View all"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        }
    ],
    "presets": [
        {
            "name": "Featured collection"
        }
    ],
    "templates": ["404", "article", "blog", "cart", "collection", "index", "list-collections", "page", "product", "search"]
}
{% endschema %}
