<section class="section section--page page page--faq faq">
    <div class="container container--tiny">
        <div class="faq__wrapper">

            {% if section.settings.enable_sidebar %}
                <div class="faq__categories u-hidden@desk-down">
                    <h2 class="faq__categories-title h5">{{ 'faq.general.categories_title' | t }}</h2>
                    <ul class="faq__categories-items o-list-bare">
                        {% for block in section.blocks %}
                            {% if block.type == 'category' %}
                                <li class="faq__categories-item"><a href="#cat-{{ section.id }}-{{ forloop.index }}" class="faq__categories-link js-scroll-id">{{ block.settings.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="faq__accordion">
                {%- for block in section.blocks -%}
                    {%- liquid
                        assign previous_block = nil
                        assign next_block = nil
                        if forloop.index0 > 0
                            assign prev_index = forloop.index0 | minus: 1
                            assign previous_block = section.blocks[prev_index]
                        endif
                        unless forloop.last
                            assign next_index = forloop.index0 | plus: 1
                            assign next_block = section.blocks[next_index]
                        endunless
                    -%}
                    {%- case block.type -%}
                        {%- when 'category' -%}
                            <div class="faq__category" id="cat-{{ section.id }}-{{ forloop.index }}" {{ block.shopify_attributes }}>
                                <div class="section__title faq__category__title">
                                    <h2 class="section__title-text faq__category__title-text h3">{{ block.settings.title }}</h2>
                                </div>
                            </div>
                        {%- when 'article' -%}
                            {%- if previous_block.type != 'article' -%}
                                <accordion-group>
                            {%- endif -%}

                            <details id="faq-{{ section.id }}-{{ forloop.index }}" {{ block.shopify_attributes }}>
                                <summary>
                                    <span class="u-large">{{ block.settings.title | escape }}</span>
                                    <summary-icon>
                                        <i class="icon icon--plus" aria-hidden="true"></i>
                                    </summary-icon>
                                </summary>

                                <details-content>
                                    {% unless block.settings.text == blank %}
                                        <div class="faq__accordion__item-wrap rte">
                                            {{ block.settings.text }}
                                        </div>
                                    {% endunless %}
                                    {% if block.settings.image %}
                                        {{ block.settings.image | image_url: width: 1200 | image_tag }}
                                    {% endif %}
                                </details-content>
                            </details>

                            {%- if next_block.type != 'article' -%}
                                </accordion-group>
                            {%- endif -%}
                    {%- endcase -%}
                {%- endfor -%}
            </div>



            {% unless section.settings.cta_link == blank %}
                <div class="faq__cta u-text-center">
                    <div class="faq__cta-btn">
                        {%- if section.settings.cta_style == 'button' -%}
                            <a href="{{ section.settings.cta_link }}" class="faq__cta-btn__btn c-btn c-btn--primary">{{ section.settings.cta_link_title | escape }}</a>
                        {%- else -%}
                            <a href="{{ section.settings.cta_link }}" class="faq__cta-btn__btn link link--arrow">{{ section.settings.cta_link_title | escape }}</a>
                        {%- endif -%}
                    </div>
                </div>
            {% endunless %}

        </div>
    </div>

</section>

{% schema %}
{
    "name": "FAQs",
    "class": "js-section__faq-page",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_sidebar",
            "label": "Enable category sidebar",
            "default": false
        },
        {
            "type": "header",
            "content": "Call to action"
        },
        {
            "type": "text",
            "id": "cta_link_title",
            "label": "Link label",
            "default": "Contact us"
        },
        {
            "type": "url",
            "id": "cta_link",
            "label": "Link"
        },
        {
            "type": "select",
            "id": "cta_style",
            "label": "Style",
            "options": [
                {
                    "value": "link",
                    "label": "Link"
                },
                {
                    "value": "button",
                    "label": "Button"
                }
            ],
            "default": "link"
        }
    ],
    "blocks": [
        {
            "type": "article",
            "name": "Article",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Article heading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Use these articles to answer questions that customers have about your products and services. You can use text, links and images and also group articles into categories.</p>"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        },
        {
            "type": "category",
            "name": "Category",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Category"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "FAQs",
            "blocks": [
                {
                    "type": "category"
                },
                {
                    "type": "article"
                },
                {
                    "type": "article"
                },
                {
                    "type": "article"
                },
                {
                    "type": "category"
                },
                {
                    "type": "article"
                },
                {
                    "type": "article"
                },
                {
                    "type": "article"
                }
            ]
        }
    ]
}
{% endschema %}
