{%- liquid
    if section.settings.bg_color == "rgba(0,0,0,0)" or section.settings.bg_color == settings.color_bg
        assign section_bg = false
    else
        assign section_bg = true
    endif
    
    if section.settings.section-bottom-margin
        assign margin_class = 'section--mb-0'
    else
        if section_bg == false and section.settings.link == blank
            assign margin_class = 'section--mb-m'
        endif
    endif
-%}

<style>
    .section--{{ section.id }} {
        background: {{ section.settings.bg_color }};
    }
    .section--{{ section.id }} .o-ratio {
        width: {{ section.settings.image_size }}%;
    }
    .section--{{ section.id }} .multi-column__media-img {
        padding: {{ section.settings.image_padding | times: 2 }}%;
        background: {{ section.settings.color_image }};
    }
    
    .section--{{ section.id }} .section__title-text,
    .section--{{ section.id }} .section__link  > * ,
    .section--{{ section.id }} .multi-column__button > * ,
    .section--{{ section.id }} .multi-column__title,
    .section--{{ section.id }} .multi-column__sub-title,
    .section--{{ section.id }} .multi-column__desc {
        color: {{ section.settings.color_text }};
    }
    .section--{{ section.id }} .multi-column__button .c-btn--primary {
        color: {{ settings.color_button }}
    }
    .section--{{ section.id }} .multi-column__button .c-btn--hollow {
        box-shadow: inset 0px 0px 0px 1px {{ section.settings.color_text }};
    }
    .section--{{ section.id }} .multi-column__button .c-btn--hollow:hover {
        {%- if section.settings.bg_color == "rgba(0,0,0,0)" -%}
            color: {{ settings.color_bg }};
        {%- else -%}
            color: {{ section.settings.bg_color }};
        {%- endif -%}
        background: {{ section.settings.color_text }};
        box-shadow: inset 0px 0px 0px 1px {{ section.settings.color_text }};
    }

    {% if section.settings.text_heading_color %}
        .section--{{ section.id }} .section__title-text,
        .section--{{ section.id }} .multi-column__title {
          color: {{ settings.color_headings }};
        }
    {% endif %}
</style>

<section class="section section--{{ section.id }} {{ margin_class }} {% if section_bg %}section--has-bg{% else %}section--no-bg{% endif %}{% if section.settings.divider == true %} section--divider{% if section_bg == false %} section--divider-p{% endif %}{% endif %}{% if section.settings.section-bottom-margin %} section--mb-0{% endif %}" data-section-id="{{ section.id }}" data-section-type="multi-column">

    <div class="multi-column__wrapper multi-column__wrapper--image">
        
        <div class="container container--{{ section.settings.container }}{% if section.settings.grid > 3 %} container--tiny@tab{% endif %}{% if section.settings.grid == 6 %} container--tiny@desk{% endif %}{% if section.settings.mobile_layout == 'carousel' %} container--mob-0{% endif %}">

            {% if section.settings.title != blank %}
                <div class="section__title section__title--center{% unless section.settings.desc == blank %} section__title--desc{% endunless %}">
                    <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
                </div>
            {% endif %}

            <div class="multi-column multi-column--image multi-column--{{ section.settings.mobile_layout }}">

                <div class="multi-column__items">

                    {%- liquid
                        case section.settings.spacing
                            when 1
                                assign spacing_px = 12
                            when 2
                                assign spacing_px = 24
                            when 3
                                assign spacing_px = 30
                            when 4
                                assign spacing_px = 48
                            when 5
                                assign spacing_px = 60
                        endcase

                        assign gain_fraction = section.settings.heading_size | times: 0.15
                    -%}
                    <style type="text/css">
                        .section--{{ section.id }} .multi-column__title {
                            font-size: {{ section.settings.heading_size | times: 0.2 | times: gain_fraction | plus: 1 }}rem;
                            line-height: {{ section.settings.heading_size | times: 0.07 | minus: 1.85 | abs }};
                        }
                        @media screen and (max-width: 767px) {
                            .section--{{ section.id }} .multi-column__title {
                                font-size: {{ section.settings.heading_size | times: 0.2 | times: gain_fraction | plus: 0.95 }}rem;
                                line-height: {{ section.settings.heading_size | times: 0.07 | minus: 1.7 | abs }};
                            }
                        }
                    </style>

                    <div class="grid-layout {% if section.settings.custom_class %}{{ section.settings.custom_class }}{% endif %} grid-layout--{{ section.settings.grid }} grid-layout--mob-{{ section.settings.grid_mobile }} grid-layout--align-center grid-spacing--{{ spacing_px }}">

                        {% for block in section.blocks %}

                            <div class="multi-column__item multi-column__item--{{ section.settings.alignment }}">

                                {% if block.settings.link != blank and section.settings.link_style == "column" %}
                                    <a href="{{ block.settings.link }}" class="multi-column__column-link">
                                {% endif %}

                                    {% if section.settings.image_toggle == true %}

                                        <div class="multi-column__media">

                                            <div class="o-ratio o-ratio--{{ section.settings.image_ratio }}"{% if block.settings.image == null and section.settings.image_ratio == 'natural' %} style="padding-bottom:100%;"{% elsif block.settings.image != null and section.settings.image_ratio == 'natural' %} style="padding-bottom:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: section.settings.image_size }}%;"{% endif %}>

                                                <div class="o-ratio__content">

                                                    {% unless block.settings.image == blank %}
                                                        <img
                                                            class="multi-column__media-img multi-column__media-img--{% if section.settings.image_fit %}fit{% else %}crop{% endif %}"
                                                            src="{{ block.settings.image | img_url: '300x' }}"
                                                            srcset="
                                                                {{ block.settings.image | img_url: '180x' }} 180w {{ 180 | divided_by: block.settings.image.aspect_ratio | round }}h,
                                                                {{ block.settings.image | img_url: '360x' }} 360w {{ 360 | divided_by: block.settings.image.aspect_ratio | round }}h,
                                                                {{ block.settings.image | img_url: '540x' }} 540w {{ 540 | divided_by: block.settings.image.aspect_ratio | round }}h,
                                                                {{ block.settings.image | img_url: '720x' }} 720w {{ 720 | divided_by: block.settings.image.aspect_ratio | round }}h,
                                                                {{ block.settings.image | img_url: '900x' }} 900w {{ 900 | divided_by: block.settings.image.aspect_ratio | round }}h,
                                                                {{ block.settings.image | img_url: '1080x' }} 1080w {{ 1080 | divided_by: block.settings.image.aspect_ratio | round }}h,
                                                                {{ block.settings.image | img_url: '1296x' }} 1296w {{ 1296 | divided_by: block.settings.image.aspect_ratio | round }}h,
                                                                {{ block.settings.image | img_url: '1512x' }} 1512w {{ 1512 | divided_by: block.settings.image.aspect_ratio | round }}h
                                                            "
                                                            sizes="100vw"
                                                            width="300"
                                                            height="{{ 300 | divided_by: block.settings.image.aspect_ratio | round }}"
                                                            alt="{{ block.settings.image.alt | escape }}"
                                                            loading="lazy"
                                                            style="object-position:{{ block.settings.image.presentation.focal_point }}"
                                                        />
                                                    {% else %}
                                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    {% endunless %}

                                                </div>

                                            </div>

                                        </div>

                                    {% endif %}
                                    
                                    <div class="multi-column__text{% if block.settings.image == blank %} multi-column__text--full{% endif %}">
                                        {% unless block.settings.title == blank %}
                                            <h3 class="multi-column__title">{{ block.settings.title | escape }}</h3>
                                        {% endunless %}
                                        {% unless block.settings.sub_title == blank %}
                                            <h4 class="multi-column__sub-title h5">{{ block.settings.sub_title | escape }}</h4>
                                        {% endunless %}
                                        {% unless block.settings.desc == blank %}
                                            <div class="multi-column__desc">
                                                <div class="rte">{{ block.settings.desc }}</div>
                                            </div>
                                        {% endunless %}

                                        {% unless block.settings.link_title == blank or section.settings.link_style == "column" %}
                                            <div class="multi-column__button">
                                                <a href="{{ block.settings.link }}" class="{% if section.settings.link_style == "hollow" or section.settings.link_style == "primary" %} c-btn c-btn--{{ section.settings.link_style }}{% elsif section.settings.link_style == "chevron" %} link link--arrow{% else %} link--underline{% endif %}">{{ block.settings.link_title }}</a>
                                            </div>
                                        {% endunless %}
                                    </div>
                                {% if block.settings.link != blank and section.settings.link_style == "column" %}
                                    </a>
                                {% endif %}
                            </div>

                        {% endfor %}

                    </div>

                    {% if section.settings.mobile_layout == "carousel" %}
                        <ul class="multi-column__nav" style="" role="tablist">

                            {% for block in section.blocks %}
                                <li class="multi-column__nav--item multi-column__nav--item-{{forloop.index}}" role="presentation">
                                    <button class="multi-column__nav--btn {% if forloop.index == 1 %}active{% endif %}" type="button" role="tab" id="multi-column-control-{{forloop.index}}" aria-controls="multi-column-control-{{forloop.index}}" aria-label="Scroll to item #{{forloop.index}} of {{ forloop.length }}" tabindex="-1">{{forloop.index}}</button>
                                </li>
                            {% endfor %}

                        </ul>
                    {% endif %}

                </div>
            </div>

            {% unless section.settings.link == blank %}
                <div class="section__link section__link--center">
                    <a href="{{ section.settings.link }}" class="link link--arrow section__link-link">{{ section.settings.link_title | escape }}</a>
                </div>
            {% endunless %}

        </div>

    </div>

</section>

{% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
    </div>
{% endif %}

{% schema %}
{
    "name": "Multicolumn with images",
    "class": "js-section__multi-column-images",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Multicolumn with images"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom class",
        },
        {
            "type": "select",
            "id": "container",
            "label": "Layout width",
            "default": "large",
            "options": [
                {
                    "label": "Default",
                    "value": "large"
                },
                {
                    "label": "Narrow",
                    "value": "small"
                },
                {
                    "label": "Wide",
                    "value": "full"
                }
            ]
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Section link label",
            "default": "Learn more"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Section link"
        },
        {
            "type": "checkbox",
            "id": "divider",
            "label": "Show dividing line",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "section-bottom-margin",
            "label": "Reduce bottom margin",
            "default": false
        },
        {
            "type": "header",
            "content": "Columns"
        },
        {
            "type": "range",
            "id": "grid", 
            "label": "Columns per row (wide screens)",
            "min": 2,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "spacing", 
            "label": "Column spacing (wide screens)",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 3
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Column alignment",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "left"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "right"
                }
            ]
        },
        {
            "type": "select",
            "id": "link_style",
            "label": "Column link style",
            "default": "hollow",
            "options": [
                {
                    "value": "column",
                    "label": "Column"
                },
                {
                    "value": "body",
                    "label": "Body text"
                },
                {
                    "value": "chevron",
                    "label": "Chevron"
                },
                {
                    "value": "primary",
                    "label": "Solid Button"
                },
                {
                    "value": "hollow",
                    "label": "Outline button"
                }
            ]
        },
        {
            "type": "range",
            "id": "heading_size",
            "label": "Heading size",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 3
        },
        {
            "type": "header",
            "content": "Media"
        },
        {
            "type": "checkbox",
            "id": "image_toggle",
            "label": "Show image",
            "default": true
        },
        {
            "type": "range",
            "id": "image_size", 
            "label": "Image size",
            "unit": "%",
            "min": 20,
            "max": 100,
            "step": 1,
            "default": 100
        },
        {
            "type": "range",
            "id": "image_padding", 
            "label": "Image padding",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
        },
        {
            "type": "select",
            "id": "image_ratio",
            "label": "Image ratio",
            "default": "4:3",
            "options": [
                {
                    "value": "1:1",
                    "label": "Square (1:1)"
                },
                {
                    "value": "3:4",
                    "label": "Portrait (3:4)"
                },
                {
                    "value": "4:3",
                    "label": "Landscape (4:3)"
                },
                {
                    "value": "16:9",
                    "label": "Wide (16:9)"
                },
                {
                    "value": "2:3",
                    "label": "Tall (2:3)"
                },
                {
                    "value": "natural",
                    "label": "Natural"
                },
                {
                    "value": "circle",
                    "label": "Circle"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "image_fit",
            "label": "Fit image to container",
            "default": false
        },
        {
            "type": "header",
            "content": "Colors"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Section background",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "color",
            "id": "color_image",
            "label": "Image background",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Text and headings",
            "default": "#212121"
        },
        {
            "type": "checkbox",
            "id": "text_heading_color",
            "label": "Use default heading color",
            "default": false
        },
        {
            "type": "header",
            "content": "Mobile"
        },
        {
            "type": "select",
            "id": "grid_mobile",
            "label": "Columns per row",
            "default": "1",
            "options": [
                {
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                }
            ]
        },
        {
            "type": "select",
            "id": "mobile_layout",
            "label": "Layout style",
            "default": "carousel",
            "info": "Only one column is in view when using carousel layout.",
            "options": [
                {
                    "value": "carousel",
                    "label": "Carousel"
                },
                {
                    "value": "grid",
                    "label": "Grid"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Column",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Column heading"
                },
                {
                    "type": "text",
                    "id": "sub_title",
                    "label": "Subheading"
                },
                {
                    "type": "richtext",
                    "id": "desc",
                    "label": "Text",
                    "default": "<p>Describe the main features of your brand or products using a few lines of text along with images or icons.</p>"
                },
                {
                    "type": "text",
                    "id": "link_title",
                    "label": "Link label",
                    "default": "Learn more"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }

            ]
        }
    ],
    "presets": [
        {
            "name": "Multicolumn with images",
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "text"
                },
                {
                    "type": "text"
                }
            ]
        }
    ]
}
{% endschema %}
